IWorld.Admin.Framework/Service References/ManagerService/ManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/ManagerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/ManagerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/ManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManagerService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Heartbeat_InputMessage">
    <wsdl:part name="parameters" element="tns:Heartbeat" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Heartbeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:HeartbeatResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="IManagerService_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_ResetPassage_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassage" />
  </wsdl:message>
  <wsdl:message name="IManagerService_ResetPassage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassageResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_ChangeGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeGroup" />
  </wsdl:message>
  <wsdl:message name="IManagerService_ChangeGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetGroupList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupList" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetGroupList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupListResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_AddGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGroup" />
  </wsdl:message>
  <wsdl:message name="IManagerService_AddGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_EditGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:EditGroup" />
  </wsdl:message>
  <wsdl:message name="IManagerService_EditGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_RemoveGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGroup" />
  </wsdl:message>
  <wsdl:message name="IManagerService_RemoveGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetLandingRecordList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLandingRecordList" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetLandingRecordList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLandingRecordListResponse" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetOperatedRecordList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOperatedRecordList" />
  </wsdl:message>
  <wsdl:message name="IManagerService_GetOperatedRecordList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOperatedRecordListResponse" />
  </wsdl:message>
  <wsdl:portType name="IManagerService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/Login" message="tns:IManagerService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/LoginResponse" message="tns:IManagerService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/Logout" message="tns:IManagerService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/LogoutResponse" message="tns:IManagerService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Heartbeat">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/Heartbeat" message="tns:IManagerService_Heartbeat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/HeartbeatResponse" message="tns:IManagerService_Heartbeat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetList" message="tns:IManagerService_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetListResponse" message="tns:IManagerService_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/Add" message="tns:IManagerService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/AddResponse" message="tns:IManagerService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/Remove" message="tns:IManagerService_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/RemoveResponse" message="tns:IManagerService_Remove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassage">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/ResetPassage" message="tns:IManagerService_ResetPassage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/ResetPassageResponse" message="tns:IManagerService_ResetPassage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/ChangeGroup" message="tns:IManagerService_ChangeGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/ChangeGroupResponse" message="tns:IManagerService_ChangeGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupList">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetGroupList" message="tns:IManagerService_GetGroupList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetGroupListResponse" message="tns:IManagerService_GetGroupList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/AddGroup" message="tns:IManagerService_AddGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/AddGroupResponse" message="tns:IManagerService_AddGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/EditGroup" message="tns:IManagerService_EditGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/EditGroupResponse" message="tns:IManagerService_EditGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/RemoveGroup" message="tns:IManagerService_RemoveGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/RemoveGroupResponse" message="tns:IManagerService_RemoveGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLandingRecordList">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetLandingRecordList" message="tns:IManagerService_GetLandingRecordList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetLandingRecordListResponse" message="tns:IManagerService_GetLandingRecordList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOperatedRecordList">
      <wsdl:input wsaw:Action="http://tempuri.org/IManagerService/GetOperatedRecordList" message="tns:IManagerService_GetOperatedRecordList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManagerService/GetOperatedRecordListResponse" message="tns:IManagerService_GetOperatedRecordList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IManagerService" type="tns:IManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IManagerService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IManagerService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Heartbeat">
      <soap:operation soapAction="http://tempuri.org/IManagerService/Heartbeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IManagerService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/IManagerService/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassage">
      <soap:operation soapAction="http://tempuri.org/IManagerService/ResetPassage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeGroup">
      <soap:operation soapAction="http://tempuri.org/IManagerService/ChangeGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupList">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetGroupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGroup">
      <soap:operation soapAction="http://tempuri.org/IManagerService/AddGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditGroup">
      <soap:operation soapAction="http://tempuri.org/IManagerService/EditGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGroup">
      <soap:operation soapAction="http://tempuri.org/IManagerService/RemoveGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLandingRecordList">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetLandingRecordList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperatedRecordList">
      <soap:operation soapAction="http://tempuri.org/IManagerService/GetOperatedRecordList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManagerService">
    <wsdl:port name="BasicHttpBinding_IManagerService" binding="tns:BasicHttpBinding_IManagerService">
      <soap:address location="http://localhost:55635/Api/Admin/ManagerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>