IWorld.Client/Service References/GamingService/GamingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GamingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55635/Api/GamingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/GamingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/GamingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" />
      <xsd:import schemaLocation="http://localhost:55635/Api/GamingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
      <xsd:import schemaLocation="http://localhost:55635/Api/GamingService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGamingService_GetLotteryTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLotteryTickets" />
  </wsdl:message>
  <wsdl:message name="IGamingService_GetLotteryTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLotteryTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="IGamingService_GetHowToPlays_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHowToPlays" />
  </wsdl:message>
  <wsdl:message name="IGamingService_GetHowToPlays_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHowToPlaysResponse" />
  </wsdl:message>
  <wsdl:message name="IGamingService_Betting_InputMessage">
    <wsdl:part name="parameters" element="tns:Betting" />
  </wsdl:message>
  <wsdl:message name="IGamingService_Betting_OutputMessage">
    <wsdl:part name="parameters" element="tns:BettingResponse" />
  </wsdl:message>
  <wsdl:message name="IGamingService_RemoveBetting_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBetting" />
  </wsdl:message>
  <wsdl:message name="IGamingService_RemoveBetting_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBettingResponse" />
  </wsdl:message>
  <wsdl:message name="IGamingService_GetBettingDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBettingDetails" />
  </wsdl:message>
  <wsdl:message name="IGamingService_GetBettingDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBettingDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IGamingService_GetRanking_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRanking" />
  </wsdl:message>
  <wsdl:message name="IGamingService_GetRanking_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRankingResponse" />
  </wsdl:message>
  <wsdl:message name="IGamingService_GetHistoryOfLottery_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryOfLottery" />
  </wsdl:message>
  <wsdl:message name="IGamingService_GetHistoryOfLottery_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHistoryOfLotteryResponse" />
  </wsdl:message>
  <wsdl:message name="IGamingService_AddBettingValues_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBettingValues" />
  </wsdl:message>
  <wsdl:message name="IGamingService_AddBettingValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBettingValuesResponse" />
  </wsdl:message>
  <wsdl:portType name="IGamingService">
    <wsdl:operation name="GetLotteryTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamingService/GetLotteryTickets" message="tns:IGamingService_GetLotteryTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamingService/GetLotteryTicketsResponse" message="tns:IGamingService_GetLotteryTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHowToPlays">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamingService/GetHowToPlays" message="tns:IGamingService_GetHowToPlays_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamingService/GetHowToPlaysResponse" message="tns:IGamingService_GetHowToPlays_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Betting">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamingService/Betting" message="tns:IGamingService_Betting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamingService/BettingResponse" message="tns:IGamingService_Betting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveBetting">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamingService/RemoveBetting" message="tns:IGamingService_RemoveBetting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamingService/RemoveBettingResponse" message="tns:IGamingService_RemoveBetting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBettingDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamingService/GetBettingDetails" message="tns:IGamingService_GetBettingDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamingService/GetBettingDetailsResponse" message="tns:IGamingService_GetBettingDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRanking">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamingService/GetRanking" message="tns:IGamingService_GetRanking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamingService/GetRankingResponse" message="tns:IGamingService_GetRanking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoryOfLottery">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamingService/GetHistoryOfLottery" message="tns:IGamingService_GetHistoryOfLottery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamingService/GetHistoryOfLotteryResponse" message="tns:IGamingService_GetHistoryOfLottery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBettingValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IGamingService/AddBettingValues" message="tns:IGamingService_AddBettingValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGamingService/AddBettingValuesResponse" message="tns:IGamingService_AddBettingValues_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGamingService" type="tns:IGamingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLotteryTickets">
      <soap:operation soapAction="http://tempuri.org/IGamingService/GetLotteryTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHowToPlays">
      <soap:operation soapAction="http://tempuri.org/IGamingService/GetHowToPlays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Betting">
      <soap:operation soapAction="http://tempuri.org/IGamingService/Betting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveBetting">
      <soap:operation soapAction="http://tempuri.org/IGamingService/RemoveBetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBettingDetails">
      <soap:operation soapAction="http://tempuri.org/IGamingService/GetBettingDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRanking">
      <soap:operation soapAction="http://tempuri.org/IGamingService/GetRanking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryOfLottery">
      <soap:operation soapAction="http://tempuri.org/IGamingService/GetHistoryOfLottery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBettingValues">
      <soap:operation soapAction="http://tempuri.org/IGamingService/AddBettingValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GamingService">
    <wsdl:port name="BasicHttpBinding_IGamingService" binding="tns:BasicHttpBinding_IGamingService">
      <soap:address location="http://localhost:55635/Api/GamingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>