IWorld.Client/Service References/GamingService/GamingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55635/Api/GamingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" />
  <xs:import schemaLocation="http://localhost:55635/Api/GamingService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetLotteryTickets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLotteryTicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="GetLotteryTicketsResult" nillable="true" type="q1:NormalListOfLotteryTicketResultL_PYu6_SAe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHowToPlays">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHowToPlaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="GetHowToPlaysResult" nillable="true" type="q2:NormalListOfLotteryTicketResultL_PYu6_SAe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Betting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="bettingImport" nillable="true" type="q3:BettingImport" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="BettingResult" nillable="true" type="q4:BettingActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bettingId" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="RemoveBettingResult" nillable="true" type="q5:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBettingDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="selectType" type="q6:BettingDetailsSelectType" />
        <xs:element minOccurs="0" name="beginTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBettingDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="GetBettingDetailsResult" nillable="true" type="q7:PaginationListOfBettingDetailsResultL_PYu6_SAe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRanking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRankingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="GetRankingResult" nillable="true" type="q8:NormalListOfRankingResultL_PYu6_SAe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryOfLottery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryOfLotteryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="GetHistoryOfLotteryResult" nillable="true" type="q9:NormalListOfHistoryOfLotteryResultL_PYu6_SAe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBettingValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="values" nillable="true" type="q10:ArrayOfstring" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBettingValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="AddBettingValuesResult" nillable="true" type="q11:AddBettingValuesResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>