IWorld.Admin/Service References/BulletinService/BulletinService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="RegularlyStatusSelectType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="全部" />
      <xs:enumeration value="未过期" />
      <xs:enumeration value="正常" />
      <xs:enumeration value="暂停" />
      <xs:enumeration value="已过期" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegularlyStatusSelectType" nillable="true" type="tns:RegularlyStatusSelectType" />
  <xs:complexType name="PaginationListOfBulletinResultp9CVq9mK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="BulletinResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfBulletinResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfBulletinResultp9CVq9mK" nillable="true" type="tns:PaginationListOfBulletinResultp9CVq9mK" />
  <xs:complexType name="OperateResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperateResult" nillable="true" type="tns:OperateResult" />
  <xs:complexType name="ArrayOfBulletinResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BulletinResult" nillable="true" type="tns:BulletinResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBulletinResult" nillable="true" type="tns:ArrayOfBulletinResult" />
  <xs:complexType name="BulletinResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="BeginTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BulletinId" type="xs:int" />
      <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Days" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hide" type="xs:boolean" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BulletinResult" nillable="true" type="tns:BulletinResult" />
  <xs:complexType name="AddBulletinImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="BeginTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Days" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddBulletinImport" nillable="true" type="tns:AddBulletinImport" />
  <xs:complexType name="EditBulletinImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="BulletinId" type="xs:int" />
      <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Days" type="xs:int" />
      <xs:element minOccurs="0" name="Hide" type="xs:boolean" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditBulletinImport" nillable="true" type="tns:EditBulletinImport" />
</xs:schema>