IWorld.Client/Service References/BulletinService/BulletinService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55635/Api/BulletinService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
  <xs:complexType name="NormalListOfBulletinResultL_PYu6_SAe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="NormalListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="BulletinResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfBulletinResult" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NormalListOfBulletinResultL_PYu6_SAe" nillable="true" type="tns:NormalListOfBulletinResultL_PYu6_SAe" />
  <xs:complexType name="OperateResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperateResult" nillable="true" type="tns:OperateResult" />
  <xs:complexType name="ArrayOfBulletinResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BulletinResult" nillable="true" type="tns:BulletinResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBulletinResult" nillable="true" type="tns:ArrayOfBulletinResult" />
  <xs:complexType name="BulletinResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="BulletinId" type="xs:int" />
      <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BulletinResult" nillable="true" type="tns:BulletinResult" />
  <xs:complexType name="NoticeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="BettingDetails" nillable="true" type="tns:BettingDetailsResult" />
      <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoticeId" type="xs:int" />
      <xs:element minOccurs="0" name="RechargeDetails" nillable="true" type="tns:RechargeDetailsResult" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Type" type="q1:NoticeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoticeResult" nillable="true" type="tns:NoticeResult" />
  <xs:complexType name="BettingDetailsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="BettingId" type="xs:int" />
      <xs:element minOccurs="0" name="Bonus" type="xs:double" />
      <xs:element minOccurs="0" name="HowToPlay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LotteryValues" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Multiple" type="xs:double" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pay" type="xs:double" />
      <xs:element minOccurs="0" name="Phases" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayTag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetutnPoints" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Status" type="q2:BettingStatus" />
      <xs:element minOccurs="0" name="Sum" type="xs:int" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Values" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BettingDetailsResult" nillable="true" type="tns:BettingDetailsResult" />
  <xs:complexType name="RechargeDetailsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RechargeId" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Status" type="q3:RechargeStatus" />
      <xs:element minOccurs="0" name="Sum" type="xs:double" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="To" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RechargeDetailsResult" nillable="true" type="tns:RechargeDetailsResult" />
</xs:schema>