IWorld.Admin/Service References/ActivityService/ActivityService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55635/Api/Admin/ActivityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
  <xs:simpleType name="ActivityTypeSelectType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="全部" />
      <xs:enumeration value="注册返点" />
      <xs:enumeration value="充值返点" />
      <xs:enumeration value="下级用户充值返点" />
      <xs:enumeration value="消费返点" />
      <xs:enumeration value="下级用户消费返点" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ActivityTypeSelectType" nillable="true" type="tns:ActivityTypeSelectType" />
  <xs:simpleType name="RegularlyStatusSelectType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="全部" />
      <xs:enumeration value="未过期" />
      <xs:enumeration value="正常" />
      <xs:enumeration value="暂停" />
      <xs:enumeration value="已过期" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegularlyStatusSelectType" nillable="true" type="tns:RegularlyStatusSelectType" />
  <xs:complexType name="PaginationListOfActivityResultp9CVq9mK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ActivityResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfActivityResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfActivityResultp9CVq9mK" nillable="true" type="tns:PaginationListOfActivityResultp9CVq9mK" />
  <xs:complexType name="OperateResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperateResult" nillable="true" type="tns:OperateResult" />
  <xs:complexType name="ArrayOfActivityResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActivityResult" nillable="true" type="tns:ActivityResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivityResult" nillable="true" type="tns:ArrayOfActivityResult" />
  <xs:complexType name="ActivityResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityId" type="xs:int" />
      <xs:element minOccurs="0" name="AutoDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="BeginTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Conditions" nillable="true" type="tns:ArrayOfConditionResult" />
      <xs:element minOccurs="0" name="Days" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hide" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxRestrictionValues" type="xs:double" />
      <xs:element minOccurs="0" name="MinRestrictionValue" type="xs:double" />
      <xs:element minOccurs="0" name="Reward" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="RewardType" type="q1:ActivityRewardType" />
      <xs:element minOccurs="0" name="RewardValueIsAbsolute" type="xs:boolean" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Type" type="q2:ActivityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivityResult" nillable="true" type="tns:ActivityResult" />
  <xs:complexType name="ArrayOfConditionResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConditionResult" nillable="true" type="tns:ConditionResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConditionResult" nillable="true" type="tns:ArrayOfConditionResult" />
  <xs:complexType name="ConditionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConditionId" type="xs:int" />
      <xs:element minOccurs="0" name="Limit" type="xs:double" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Type" type="q3:ConditionType" />
      <xs:element minOccurs="0" name="Upper" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConditionResult" nillable="true" type="tns:ConditionResult" />
  <xs:complexType name="PaginationListOfActivityParticipateRecordResultp9CVq9mK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ActivityParticipateRecordResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfActivityParticipateRecordResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfActivityParticipateRecordResultp9CVq9mK" nillable="true" type="tns:PaginationListOfActivityParticipateRecordResultp9CVq9mK" />
  <xs:complexType name="ArrayOfActivityParticipateRecordResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActivityParticipateRecordResult" nillable="true" type="tns:ActivityParticipateRecordResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivityParticipateRecordResult" nillable="true" type="tns:ArrayOfActivityParticipateRecordResult" />
  <xs:complexType name="ActivityParticipateRecordResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityId" type="xs:int" />
      <xs:element minOccurs="0" name="ActivityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActivityParticipateRecordId" type="xs:int" />
      <xs:element minOccurs="0" name="OwnerId" type="xs:int" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParticipatedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Reward" type="xs:double" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="RewardType" type="q4:ActivityRewardType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivityParticipateRecordResult" nillable="true" type="tns:ActivityParticipateRecordResult" />
  <xs:complexType name="AddActivityImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="BeginTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Conditions" nillable="true" type="tns:ArrayOfEditConditionImport" />
      <xs:element minOccurs="0" name="Days" type="xs:int" />
      <xs:element minOccurs="0" name="MaxRestrictionValues" type="xs:double" />
      <xs:element minOccurs="0" name="MinRestrictionValue" type="xs:double" />
      <xs:element minOccurs="0" name="Reward" type="xs:double" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="RewardType" type="q5:ActivityRewardType" />
      <xs:element minOccurs="0" name="RewardValueIsAbsolute" type="xs:boolean" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Type" type="q6:ActivityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddActivityImport" nillable="true" type="tns:AddActivityImport" />
  <xs:complexType name="ArrayOfEditConditionImport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EditConditionImport" nillable="true" type="tns:EditConditionImport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEditConditionImport" nillable="true" type="tns:ArrayOfEditConditionImport" />
  <xs:complexType name="EditConditionImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Limit" type="xs:double" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Type" type="q7:ConditionType" />
      <xs:element minOccurs="0" name="Upper" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditConditionImport" nillable="true" type="tns:EditConditionImport" />
  <xs:complexType name="EditActivityImport_Basic">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityId" type="xs:int" />
      <xs:element minOccurs="0" name="AutoDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Days" type="xs:int" />
      <xs:element minOccurs="0" name="Hide" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditActivityImport_Basic" nillable="true" type="tns:EditActivityImport_Basic" />
  <xs:complexType name="EditActivityImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityId" type="xs:int" />
      <xs:element minOccurs="0" name="AutoDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Conditions" nillable="true" type="tns:ArrayOfEditConditionImport" />
      <xs:element minOccurs="0" name="Days" type="xs:int" />
      <xs:element minOccurs="0" name="Hide" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxRestrictionValues" type="xs:double" />
      <xs:element minOccurs="0" name="MinRestrictionValue" type="xs:double" />
      <xs:element minOccurs="0" name="Reward" type="xs:double" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="RewardType" type="q8:ActivityRewardType" />
      <xs:element minOccurs="0" name="RewardValueIsAbsolute" type="xs:boolean" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Type" type="q9:ActivityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditActivityImport" nillable="true" type="tns:EditActivityImport" />
</xs:schema>