IWorld.Admin/Service References/ActivityService/ActivityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ActivityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/ActivityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/ActivityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/ActivityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/ActivityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IActivityService_GetActivityList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActivityList" />
  </wsdl:message>
  <wsdl:message name="IActivityService_GetActivityList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActivityListResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityService_GetParticipateRecordList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParticipateRecordList" />
  </wsdl:message>
  <wsdl:message name="IActivityService_GetParticipateRecordList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParticipateRecordListResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityService_AddActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:AddActivity" />
  </wsdl:message>
  <wsdl:message name="IActivityService_AddActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddActivityResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityService_EditActivity_Basic_InputMessage">
    <wsdl:part name="parameters" element="tns:EditActivity_Basic" />
  </wsdl:message>
  <wsdl:message name="IActivityService_EditActivity_Basic_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditActivity_BasicResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityService_EditActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:EditActivity" />
  </wsdl:message>
  <wsdl:message name="IActivityService_EditActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditActivityResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityService_RemoveActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveActivity" />
  </wsdl:message>
  <wsdl:message name="IActivityService_RemoveActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveActivityResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityService_HideActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:HideActivity" />
  </wsdl:message>
  <wsdl:message name="IActivityService_HideActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:HideActivityResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityService_ShowActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowActivity" />
  </wsdl:message>
  <wsdl:message name="IActivityService_ShowActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowActivityResponse" />
  </wsdl:message>
  <wsdl:portType name="IActivityService">
    <wsdl:operation name="GetActivityList">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityService/GetActivityList" message="tns:IActivityService_GetActivityList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityService/GetActivityListResponse" message="tns:IActivityService_GetActivityList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParticipateRecordList">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityService/GetParticipateRecordList" message="tns:IActivityService_GetParticipateRecordList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityService/GetParticipateRecordListResponse" message="tns:IActivityService_GetParticipateRecordList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityService/AddActivity" message="tns:IActivityService_AddActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityService/AddActivityResponse" message="tns:IActivityService_AddActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditActivity_Basic">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityService/EditActivity_Basic" message="tns:IActivityService_EditActivity_Basic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityService/EditActivity_BasicResponse" message="tns:IActivityService_EditActivity_Basic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityService/EditActivity" message="tns:IActivityService_EditActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityService/EditActivityResponse" message="tns:IActivityService_EditActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityService/RemoveActivity" message="tns:IActivityService_RemoveActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityService/RemoveActivityResponse" message="tns:IActivityService_RemoveActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HideActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityService/HideActivity" message="tns:IActivityService_HideActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityService/HideActivityResponse" message="tns:IActivityService_HideActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityService/ShowActivity" message="tns:IActivityService_ShowActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityService/ShowActivityResponse" message="tns:IActivityService_ShowActivity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IActivityService" type="tns:IActivityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActivityList">
      <soap:operation soapAction="http://tempuri.org/IActivityService/GetActivityList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParticipateRecordList">
      <soap:operation soapAction="http://tempuri.org/IActivityService/GetParticipateRecordList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddActivity">
      <soap:operation soapAction="http://tempuri.org/IActivityService/AddActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditActivity_Basic">
      <soap:operation soapAction="http://tempuri.org/IActivityService/EditActivity_Basic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditActivity">
      <soap:operation soapAction="http://tempuri.org/IActivityService/EditActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveActivity">
      <soap:operation soapAction="http://tempuri.org/IActivityService/RemoveActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HideActivity">
      <soap:operation soapAction="http://tempuri.org/IActivityService/HideActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowActivity">
      <soap:operation soapAction="http://tempuri.org/IActivityService/ShowActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivityService">
    <wsdl:port name="BasicHttpBinding_IActivityService" binding="tns:BasicHttpBinding_IActivityService">
      <soap:address location="http://localhost:55635/Api/Admin/ActivityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>