IWorld.Admin.Framework/Service References/LotteryTicketService/LotteryTicketService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55635/Api/Admin/LotteryTicketService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
  <xs:element name="GetTicketList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="isHide" type="q1:HideOrNotSelectType" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetTicketListResult" nillable="true" type="q2:PaginationListOfTicketResultp9CVq9mK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLotteryTimeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketId" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLotteryTimeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetLotteryTimeListResult" nillable="true" type="q3:PaginationListOfLotteryTimeResultp9CVq9mK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLotteryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketId" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="sources" type="q4:LotterySourcesSelectType" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLotteryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetLotteryListResult" nillable="true" type="q5:PaginationListOfLotteryResultp9CVq9mK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EdotTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="import" nillable="true" type="q6:EditTicketImport" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EdotTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="EdotTicketResult" nillable="true" type="q7:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLotteryTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketId" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="imports" nillable="true" type="q8:ArrayOfEditLotteryTimeImport" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLotteryTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="EditLotteryTimeResult" nillable="true" type="q9:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HideTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketId" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HideTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="HideTicketResult" nillable="true" type="q10:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketId" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="ShowTicketResult" nillable="true" type="q11:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayTagList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketId" type="xs:int" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="isHide" type="q12:HideOrNotSelectType" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayTagListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetPlayTagListResult" nillable="true" type="q13:PaginationListOfPlayTagResultp9CVq9mK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPlayTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="import" nillable="true" type="q14:EditPlayTagImport" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPlayTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="EditPlayTagResult" nillable="true" type="q15:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HidePlayTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playTagId" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HidePlayTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="HidePlayTagResult" nillable="true" type="q16:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowPlayTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playTagId" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowPlayTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="ShowPlayTagResult" nillable="true" type="q17:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHowToPlayList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketId" type="xs:int" />
        <xs:element minOccurs="0" name="playTagId" type="xs:int" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="isHide" type="q18:HideOrNotSelectType" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHowToPlayListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetHowToPlayListResult" nillable="true" type="q19:PaginationListOfHowToPlayResultp9CVq9mK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditHowToPlay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="import" nillable="true" type="q20:EditHowToPlayImport" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditHowToPlayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="EditHowToPlayResult" nillable="true" type="q21:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HideHowToPlay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="howToPlayId" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HideHowToPlayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="HideHowToPlayResult" nillable="true" type="q22:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowHowToPlay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="howToPlayId" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowHowToPlayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="ShowHowToPlayResult" nillable="true" type="q23:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVirtualTopList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketId" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVirtualTopListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetVirtualTopListResult" nillable="true" type="q24:PaginationListOfVirtualTopResultp9CVq9mK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVirtualTop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="import" nillable="true" type="q25:AddVirtualTopImport" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVirtualTopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="AddVirtualTopResult" nillable="true" type="q26:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditVirtualTop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="import" nillable="true" type="q27:EditVirtualTopImport" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditVirtualTopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="EditVirtualTopResult" nillable="true" type="q28:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveVirtualTop">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="virtualTopId" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveVirtualTopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="RemoveVirtualTopResult" nillable="true" type="q29:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>