IWorld.Admin/Service References/ExchangeService/ExchangeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExchangeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/ExchangeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/ExchangeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/ExchangeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/ExchangeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExchangeService_GetExchangeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExchangeList" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_GetExchangeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExchangeListResponse" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_GetParticipateRecordList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParticipateRecordList" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_GetParticipateRecordList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParticipateRecordListResponse" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_AddExchange_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExchange" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_AddExchange_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExchangeResponse" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_EditExchange_Basic_InputMessage">
    <wsdl:part name="parameters" element="tns:EditExchange_Basic" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_EditExchange_Basic_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditExchange_BasicResponse" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_EditExchange_InputMessage">
    <wsdl:part name="parameters" element="tns:EditExchange" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_EditExchange_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditExchangeResponse" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_RemoveExchange_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveExchange" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_RemoveExchange_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveExchangeResponse" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_HideExchange_InputMessage">
    <wsdl:part name="parameters" element="tns:HideExchange" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_HideExchange_OutputMessage">
    <wsdl:part name="parameters" element="tns:HideExchangeResponse" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_ShowExchange_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowExchange" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_ShowExchange_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowExchangeResponse" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_GetGiftList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGiftList" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_GetGiftList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGiftListResponse" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_HandselGift_InputMessage">
    <wsdl:part name="parameters" element="tns:HandselGift" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_HandselGift_OutputMessage">
    <wsdl:part name="parameters" element="tns:HandselGiftResponse" />
  </wsdl:message>
  <wsdl:portType name="IExchangeService">
    <wsdl:operation name="GetExchangeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/GetExchangeList" message="tns:IExchangeService_GetExchangeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/GetExchangeListResponse" message="tns:IExchangeService_GetExchangeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParticipateRecordList">
      <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/GetParticipateRecordList" message="tns:IExchangeService_GetParticipateRecordList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/GetParticipateRecordListResponse" message="tns:IExchangeService_GetParticipateRecordList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExchange">
      <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/AddExchange" message="tns:IExchangeService_AddExchange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/AddExchangeResponse" message="tns:IExchangeService_AddExchange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditExchange_Basic">
      <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/EditExchange_Basic" message="tns:IExchangeService_EditExchange_Basic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/EditExchange_BasicResponse" message="tns:IExchangeService_EditExchange_Basic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditExchange">
      <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/EditExchange" message="tns:IExchangeService_EditExchange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/EditExchangeResponse" message="tns:IExchangeService_EditExchange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveExchange">
      <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/RemoveExchange" message="tns:IExchangeService_RemoveExchange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/RemoveExchangeResponse" message="tns:IExchangeService_RemoveExchange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HideExchange">
      <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/HideExchange" message="tns:IExchangeService_HideExchange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/HideExchangeResponse" message="tns:IExchangeService_HideExchange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowExchange">
      <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/ShowExchange" message="tns:IExchangeService_ShowExchange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/ShowExchangeResponse" message="tns:IExchangeService_ShowExchange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGiftList">
      <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/GetGiftList" message="tns:IExchangeService_GetGiftList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/GetGiftListResponse" message="tns:IExchangeService_GetGiftList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HandselGift">
      <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/HandselGift" message="tns:IExchangeService_HandselGift_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/HandselGiftResponse" message="tns:IExchangeService_HandselGift_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IExchangeService" type="tns:IExchangeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetExchangeList">
      <soap:operation soapAction="http://tempuri.org/IExchangeService/GetExchangeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParticipateRecordList">
      <soap:operation soapAction="http://tempuri.org/IExchangeService/GetParticipateRecordList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExchange">
      <soap:operation soapAction="http://tempuri.org/IExchangeService/AddExchange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditExchange_Basic">
      <soap:operation soapAction="http://tempuri.org/IExchangeService/EditExchange_Basic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditExchange">
      <soap:operation soapAction="http://tempuri.org/IExchangeService/EditExchange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveExchange">
      <soap:operation soapAction="http://tempuri.org/IExchangeService/RemoveExchange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HideExchange">
      <soap:operation soapAction="http://tempuri.org/IExchangeService/HideExchange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowExchange">
      <soap:operation soapAction="http://tempuri.org/IExchangeService/ShowExchange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGiftList">
      <soap:operation soapAction="http://tempuri.org/IExchangeService/GetGiftList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HandselGift">
      <soap:operation soapAction="http://tempuri.org/IExchangeService/HandselGift" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExchangeService">
    <wsdl:port name="BasicHttpBinding_IExchangeService" binding="tns:BasicHttpBinding_IExchangeService">
      <soap:address location="http://localhost:55635/Api/Admin/ExchangeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>