IWorld.Admin/Service References/ExchangeService/ExchangeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55635/Api/Admin/ExchangeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
  <xs:simpleType name="RegularlyStatusSelectType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="全部" />
      <xs:enumeration value="未过期" />
      <xs:enumeration value="正常" />
      <xs:enumeration value="暂停" />
      <xs:enumeration value="已过期" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegularlyStatusSelectType" nillable="true" type="tns:RegularlyStatusSelectType" />
  <xs:complexType name="PaginationListOfExchangeResultp9CVq9mK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ExchangeResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfExchangeResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfExchangeResultp9CVq9mK" nillable="true" type="tns:PaginationListOfExchangeResultp9CVq9mK" />
  <xs:complexType name="OperateResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperateResult" nillable="true" type="tns:OperateResult" />
  <xs:complexType name="ArrayOfExchangeResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExchangeResult" nillable="true" type="tns:ExchangeResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExchangeResult" nillable="true" type="tns:ArrayOfExchangeResult" />
  <xs:complexType name="ExchangeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="BeginTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Conditions" nillable="true" type="tns:ArrayOfConditionResult" />
      <xs:element minOccurs="0" name="Days" type="xs:int" />
      <xs:element minOccurs="0" name="EachPersonCanExchangeTheNumberOfAll" type="xs:int" />
      <xs:element minOccurs="0" name="EachPersonCanExchangeTheNumberOfDays" type="xs:int" />
      <xs:element minOccurs="0" name="EachPersonCanExchangeTheNumberOfTimes" type="xs:int" />
      <xs:element minOccurs="0" name="EachPersonCanExchangeTheTimesOfAll" type="xs:int" />
      <xs:element minOccurs="0" name="EachPersonCanExchangeTheTimesOfDays" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExchangeId" type="xs:int" />
      <xs:element minOccurs="0" name="Hide" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Places" type="xs:int" />
      <xs:element minOccurs="0" name="Prizes" nillable="true" type="tns:ArrayOfPrizeResult" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExchangeResult" nillable="true" type="tns:ExchangeResult" />
  <xs:complexType name="ArrayOfConditionResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConditionResult" nillable="true" type="tns:ConditionResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConditionResult" nillable="true" type="tns:ArrayOfConditionResult" />
  <xs:complexType name="ConditionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConditionId" type="xs:int" />
      <xs:element minOccurs="0" name="Limit" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Type" type="q1:ConditionType" />
      <xs:element minOccurs="0" name="Upper" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConditionResult" nillable="true" type="tns:ConditionResult" />
  <xs:complexType name="ArrayOfPrizeResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrizeResult" nillable="true" type="tns:PrizeResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrizeResult" nillable="true" type="tns:ArrayOfPrizeResult" />
  <xs:complexType name="PrizeResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="PrizeId" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sum" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Type" type="q2:PrizeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrizeResult" nillable="true" type="tns:PrizeResult" />
  <xs:complexType name="PaginationListOfExchangeParticipateRecordResultp9CVq9mK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ExchangeParticipateRecordResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfExchangeParticipateRecordResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfExchangeParticipateRecordResultp9CVq9mK" nillable="true" type="tns:PaginationListOfExchangeParticipateRecordResultp9CVq9mK" />
  <xs:complexType name="ArrayOfExchangeParticipateRecordResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExchangeParticipateRecordResult" nillable="true" type="tns:ExchangeParticipateRecordResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExchangeParticipateRecordResult" nillable="true" type="tns:ArrayOfExchangeParticipateRecordResult" />
  <xs:complexType name="ExchangeParticipateRecordResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountOfGift" type="xs:int" />
      <xs:element minOccurs="0" name="ExchangeId" type="xs:int" />
      <xs:element minOccurs="0" name="ExchangeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExchangeParticipateRecordId" type="xs:int" />
      <xs:element minOccurs="0" name="OwnerId" type="xs:int" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParticipatedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RewardOfIntegral" type="xs:double" />
      <xs:element minOccurs="0" name="RewardOfMoney" type="xs:double" />
      <xs:element minOccurs="0" name="Sum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExchangeParticipateRecordResult" nillable="true" type="tns:ExchangeParticipateRecordResult" />
  <xs:complexType name="AddExchangeImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="BeginTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Conditions" nillable="true" type="tns:ArrayOfEditConditionImport" />
      <xs:element minOccurs="0" name="Days" type="xs:int" />
      <xs:element minOccurs="0" name="EachPersonCanExchangeTheNumberOfAll" type="xs:int" />
      <xs:element minOccurs="0" name="EachPersonCanExchangeTheNumberOfDays" type="xs:int" />
      <xs:element minOccurs="0" name="EachPersonCanExchangeTheNumberOfTimes" type="xs:int" />
      <xs:element minOccurs="0" name="EachPersonCanExchangeTheTimesOfAll" type="xs:int" />
      <xs:element minOccurs="0" name="EachPersonCanExchangeTheTimesOfDays" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Places" type="xs:int" />
      <xs:element minOccurs="0" name="Prizes" nillable="true" type="tns:ArrayOfEditPrizeImport" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddExchangeImport" nillable="true" type="tns:AddExchangeImport" />
  <xs:complexType name="ArrayOfEditConditionImport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EditConditionImport" nillable="true" type="tns:EditConditionImport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEditConditionImport" nillable="true" type="tns:ArrayOfEditConditionImport" />
  <xs:complexType name="EditConditionImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Limit" type="xs:double" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Type" type="q3:ConditionType" />
      <xs:element minOccurs="0" name="Upper" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditConditionImport" nillable="true" type="tns:EditConditionImport" />
  <xs:complexType name="ArrayOfEditPrizeImport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EditPrizeImport" nillable="true" type="tns:EditPrizeImport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEditPrizeImport" nillable="true" type="tns:ArrayOfEditPrizeImport" />
  <xs:complexType name="EditPrizeImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sum" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Type" type="q4:PrizeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditPrizeImport" nillable="true" type="tns:EditPrizeImport" />
  <xs:complexType name="EditExchangeImport_Basic">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Days" type="xs:int" />
      <xs:element minOccurs="0" name="ExchangeId" type="xs:int" />
      <xs:element minOccurs="0" name="Hide" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditExchangeImport_Basic" nillable="true" type="tns:EditExchangeImport_Basic" />
  <xs:complexType name="EditExchangeImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Conditions" nillable="true" type="tns:ArrayOfEditConditionImport" />
      <xs:element minOccurs="0" name="Days" type="xs:int" />
      <xs:element minOccurs="0" name="EachPersonCanExchangeTheNumberOfAll" type="xs:int" />
      <xs:element minOccurs="0" name="EachPersonCanExchangeTheNumberOfDays" type="xs:int" />
      <xs:element minOccurs="0" name="EachPersonCanExchangeTheNumberOfTimes" type="xs:int" />
      <xs:element minOccurs="0" name="EachPersonCanExchangeTheTimesOfAll" type="xs:int" />
      <xs:element minOccurs="0" name="EachPersonCanExchangeTheTimesOfDays" type="xs:int" />
      <xs:element minOccurs="0" name="ExchangeId" type="xs:int" />
      <xs:element minOccurs="0" name="Hide" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Places" type="xs:int" />
      <xs:element minOccurs="0" name="Prizes" nillable="true" type="tns:ArrayOfEditPrizeImport" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditExchangeImport" nillable="true" type="tns:EditExchangeImport" />
  <xs:simpleType name="GiftStatusSelectType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="全部" />
      <xs:enumeration value="未赠送" />
      <xs:enumeration value="已赠送" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GiftStatusSelectType" nillable="true" type="tns:GiftStatusSelectType" />
  <xs:complexType name="PaginationListOfGiftResultp9CVq9mK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="GiftResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfGiftResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfGiftResultp9CVq9mK" nillable="true" type="tns:PaginationListOfGiftResultp9CVq9mK" />
  <xs:complexType name="ArrayOfGiftResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GiftResult" nillable="true" type="tns:GiftResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGiftResult" nillable="true" type="tns:ArrayOfGiftResult" />
  <xs:complexType name="GiftResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GiftId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Status" type="q5:GiftStatus" />
      <xs:element minOccurs="0" name="Sum" type="xs:int" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Type" type="q6:PrizeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GiftResult" nillable="true" type="tns:GiftResult" />
</xs:schema>