IWorld.Client/Service References/SystemSettingService/SystemSettingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SystemSettingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55635/Api/SystemSettingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/SystemSettingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/SystemSettingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" />
      <xsd:import schemaLocation="http://localhost:55635/Api/SystemSettingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISystemSettingService_GetWebSetting_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWebSetting" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_GetWebSetting_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWebSettingResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_GetBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccount" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_GetBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="ISystemSettingService">
    <wsdl:operation name="GetWebSetting">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/GetWebSetting" message="tns:ISystemSettingService_GetWebSetting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/GetWebSettingResponse" message="tns:ISystemSettingService_GetWebSetting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/GetBankAccount" message="tns:ISystemSettingService_GetBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/GetBankAccountResponse" message="tns:ISystemSettingService_GetBankAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISystemSettingService" type="tns:ISystemSettingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWebSetting">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/GetWebSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankAccount">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/GetBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemSettingService">
    <wsdl:port name="BasicHttpBinding_ISystemSettingService" binding="tns:BasicHttpBinding_ISystemSettingService">
      <soap:address location="http://localhost:55635/Api/SystemSettingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>