IWorld.Admin/Service References/LotteryTicketService/LotteryTicketService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LotteryTicketService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/LotteryTicketService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/LotteryTicketService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/LotteryTicketService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/LotteryTicketService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILotteryTicketService_GetTicketList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketList" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_GetTicketList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketListResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_GetLotteryTimeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLotteryTimeList" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_GetLotteryTimeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLotteryTimeListResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_GetLotteryList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLotteryList" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_GetLotteryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLotteryListResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_EdotTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:EdotTicket" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_EdotTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:EdotTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_EditLotteryTime_InputMessage">
    <wsdl:part name="parameters" element="tns:EditLotteryTime" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_EditLotteryTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditLotteryTimeResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_HideTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:HideTicket" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_HideTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:HideTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_ShowTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowTicket" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_ShowTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_GetPlayTagList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayTagList" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_GetPlayTagList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayTagListResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_EditPlayTag_InputMessage">
    <wsdl:part name="parameters" element="tns:EditPlayTag" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_EditPlayTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditPlayTagResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_HidePlayTag_InputMessage">
    <wsdl:part name="parameters" element="tns:HidePlayTag" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_HidePlayTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:HidePlayTagResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_ShowPlayTag_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowPlayTag" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_ShowPlayTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowPlayTagResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_GetHowToPlayList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHowToPlayList" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_GetHowToPlayList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHowToPlayListResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_EditHowToPlay_InputMessage">
    <wsdl:part name="parameters" element="tns:EditHowToPlay" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_EditHowToPlay_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditHowToPlayResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_HideHowToPlay_InputMessage">
    <wsdl:part name="parameters" element="tns:HideHowToPlay" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_HideHowToPlay_OutputMessage">
    <wsdl:part name="parameters" element="tns:HideHowToPlayResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_ShowHowToPlay_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowHowToPlay" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_ShowHowToPlay_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowHowToPlayResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_GetVirtualTopList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVirtualTopList" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_GetVirtualTopList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVirtualTopListResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_AddVirtualTop_InputMessage">
    <wsdl:part name="parameters" element="tns:AddVirtualTop" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_AddVirtualTop_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddVirtualTopResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_EditVirtualTop_InputMessage">
    <wsdl:part name="parameters" element="tns:EditVirtualTop" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_EditVirtualTop_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditVirtualTopResponse" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_RemoveVirtualTop_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveVirtualTop" />
  </wsdl:message>
  <wsdl:message name="ILotteryTicketService_RemoveVirtualTop_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveVirtualTopResponse" />
  </wsdl:message>
  <wsdl:portType name="ILotteryTicketService">
    <wsdl:operation name="GetTicketList">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryTicketService/GetTicketList" message="tns:ILotteryTicketService_GetTicketList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryTicketService/GetTicketListResponse" message="tns:ILotteryTicketService_GetTicketList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLotteryTimeList">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryTicketService/GetLotteryTimeList" message="tns:ILotteryTicketService_GetLotteryTimeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryTicketService/GetLotteryTimeListResponse" message="tns:ILotteryTicketService_GetLotteryTimeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLotteryList">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryTicketService/GetLotteryList" message="tns:ILotteryTicketService_GetLotteryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryTicketService/GetLotteryListResponse" message="tns:ILotteryTicketService_GetLotteryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EdotTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryTicketService/EdotTicket" message="tns:ILotteryTicketService_EdotTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryTicketService/EdotTicketResponse" message="tns:ILotteryTicketService_EdotTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditLotteryTime">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryTicketService/EditLotteryTime" message="tns:ILotteryTicketService_EditLotteryTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryTicketService/EditLotteryTimeResponse" message="tns:ILotteryTicketService_EditLotteryTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HideTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryTicketService/HideTicket" message="tns:ILotteryTicketService_HideTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryTicketService/HideTicketResponse" message="tns:ILotteryTicketService_HideTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryTicketService/ShowTicket" message="tns:ILotteryTicketService_ShowTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryTicketService/ShowTicketResponse" message="tns:ILotteryTicketService_ShowTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayTagList">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryTicketService/GetPlayTagList" message="tns:ILotteryTicketService_GetPlayTagList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryTicketService/GetPlayTagListResponse" message="tns:ILotteryTicketService_GetPlayTagList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditPlayTag">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryTicketService/EditPlayTag" message="tns:ILotteryTicketService_EditPlayTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryTicketService/EditPlayTagResponse" message="tns:ILotteryTicketService_EditPlayTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HidePlayTag">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryTicketService/HidePlayTag" message="tns:ILotteryTicketService_HidePlayTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryTicketService/HidePlayTagResponse" message="tns:ILotteryTicketService_HidePlayTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowPlayTag">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryTicketService/ShowPlayTag" message="tns:ILotteryTicketService_ShowPlayTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryTicketService/ShowPlayTagResponse" message="tns:ILotteryTicketService_ShowPlayTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHowToPlayList">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryTicketService/GetHowToPlayList" message="tns:ILotteryTicketService_GetHowToPlayList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryTicketService/GetHowToPlayListResponse" message="tns:ILotteryTicketService_GetHowToPlayList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditHowToPlay">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryTicketService/EditHowToPlay" message="tns:ILotteryTicketService_EditHowToPlay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryTicketService/EditHowToPlayResponse" message="tns:ILotteryTicketService_EditHowToPlay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HideHowToPlay">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryTicketService/HideHowToPlay" message="tns:ILotteryTicketService_HideHowToPlay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryTicketService/HideHowToPlayResponse" message="tns:ILotteryTicketService_HideHowToPlay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowHowToPlay">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryTicketService/ShowHowToPlay" message="tns:ILotteryTicketService_ShowHowToPlay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryTicketService/ShowHowToPlayResponse" message="tns:ILotteryTicketService_ShowHowToPlay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVirtualTopList">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryTicketService/GetVirtualTopList" message="tns:ILotteryTicketService_GetVirtualTopList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryTicketService/GetVirtualTopListResponse" message="tns:ILotteryTicketService_GetVirtualTopList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddVirtualTop">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryTicketService/AddVirtualTop" message="tns:ILotteryTicketService_AddVirtualTop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryTicketService/AddVirtualTopResponse" message="tns:ILotteryTicketService_AddVirtualTop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditVirtualTop">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryTicketService/EditVirtualTop" message="tns:ILotteryTicketService_EditVirtualTop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryTicketService/EditVirtualTopResponse" message="tns:ILotteryTicketService_EditVirtualTop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveVirtualTop">
      <wsdl:input wsaw:Action="http://tempuri.org/ILotteryTicketService/RemoveVirtualTop" message="tns:ILotteryTicketService_RemoveVirtualTop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILotteryTicketService/RemoveVirtualTopResponse" message="tns:ILotteryTicketService_RemoveVirtualTop_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILotteryTicketService" type="tns:ILotteryTicketService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTicketList">
      <soap:operation soapAction="http://tempuri.org/ILotteryTicketService/GetTicketList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLotteryTimeList">
      <soap:operation soapAction="http://tempuri.org/ILotteryTicketService/GetLotteryTimeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLotteryList">
      <soap:operation soapAction="http://tempuri.org/ILotteryTicketService/GetLotteryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EdotTicket">
      <soap:operation soapAction="http://tempuri.org/ILotteryTicketService/EdotTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditLotteryTime">
      <soap:operation soapAction="http://tempuri.org/ILotteryTicketService/EditLotteryTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HideTicket">
      <soap:operation soapAction="http://tempuri.org/ILotteryTicketService/HideTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowTicket">
      <soap:operation soapAction="http://tempuri.org/ILotteryTicketService/ShowTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayTagList">
      <soap:operation soapAction="http://tempuri.org/ILotteryTicketService/GetPlayTagList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPlayTag">
      <soap:operation soapAction="http://tempuri.org/ILotteryTicketService/EditPlayTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HidePlayTag">
      <soap:operation soapAction="http://tempuri.org/ILotteryTicketService/HidePlayTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowPlayTag">
      <soap:operation soapAction="http://tempuri.org/ILotteryTicketService/ShowPlayTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHowToPlayList">
      <soap:operation soapAction="http://tempuri.org/ILotteryTicketService/GetHowToPlayList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditHowToPlay">
      <soap:operation soapAction="http://tempuri.org/ILotteryTicketService/EditHowToPlay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HideHowToPlay">
      <soap:operation soapAction="http://tempuri.org/ILotteryTicketService/HideHowToPlay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowHowToPlay">
      <soap:operation soapAction="http://tempuri.org/ILotteryTicketService/ShowHowToPlay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVirtualTopList">
      <soap:operation soapAction="http://tempuri.org/ILotteryTicketService/GetVirtualTopList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddVirtualTop">
      <soap:operation soapAction="http://tempuri.org/ILotteryTicketService/AddVirtualTop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditVirtualTop">
      <soap:operation soapAction="http://tempuri.org/ILotteryTicketService/EditVirtualTop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveVirtualTop">
      <soap:operation soapAction="http://tempuri.org/ILotteryTicketService/RemoveVirtualTop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LotteryTicketService">
    <wsdl:port name="BasicHttpBinding_ILotteryTicketService" binding="tns:BasicHttpBinding_ILotteryTicketService">
      <soap:address location="http://localhost:55635/Api/Admin/LotteryTicketService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>