IWorld.Admin/Service References/DataReportService/DataReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataReportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/DataReportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/DataReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/DataReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/DataReportService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/DataReportService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataReportService_GetComprehensiveInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComprehensiveInformation" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetComprehensiveInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComprehensiveInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetSiteDataList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteDataList" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetSiteDataList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteDataListResponse" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetPersonalDataList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalDataList" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetPersonalDataList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonalDataListResponse" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetBettingList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBettingList" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetBettingList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBettingListResponse" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetChasingList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChasingList" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetChasingList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChasingListResponse" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetBettingForChasingList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBettingForChasingList" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetBettingForChasingList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBettingForChasingListResponse" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetRechargeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRechargeList" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetRechargeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRechargeListResponse" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetUntreatedRecharCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUntreatedRecharCount" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetUntreatedRecharCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUntreatedRecharCountResponse" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_DeterminetRecharge_InputMessage">
    <wsdl:part name="parameters" element="tns:DeterminetRecharge" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_DeterminetRecharge_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeterminetRechargeResponse" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_NegativeRecharge_InputMessage">
    <wsdl:part name="parameters" element="tns:NegativeRecharge" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_NegativeRecharge_OutputMessage">
    <wsdl:part name="parameters" element="tns:NegativeRechargeResponse" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetWithdrawalList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWithdrawalList" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetWithdrawalList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWithdrawalListResponse" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetUntreatedWithdrawalCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUntreatedWithdrawalCount" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetUntreatedWithdrawalCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUntreatedWithdrawalCountResponse" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_DeterminetWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:DeterminetWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_DeterminetWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeterminetWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_NegativeWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:NegativeWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_NegativeWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:NegativeWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetTransferList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransferList" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_GetTransferList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransferListResponse" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_AddTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTransfer" />
  </wsdl:message>
  <wsdl:message name="IDataReportService_AddTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTransferResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataReportService">
    <wsdl:operation name="GetComprehensiveInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataReportService/GetComprehensiveInformation" message="tns:IDataReportService_GetComprehensiveInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataReportService/GetComprehensiveInformationResponse" message="tns:IDataReportService_GetComprehensiveInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteDataList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataReportService/GetSiteDataList" message="tns:IDataReportService_GetSiteDataList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataReportService/GetSiteDataListResponse" message="tns:IDataReportService_GetSiteDataList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonalDataList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataReportService/GetPersonalDataList" message="tns:IDataReportService_GetPersonalDataList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataReportService/GetPersonalDataListResponse" message="tns:IDataReportService_GetPersonalDataList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBettingList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataReportService/GetBettingList" message="tns:IDataReportService_GetBettingList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataReportService/GetBettingListResponse" message="tns:IDataReportService_GetBettingList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChasingList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataReportService/GetChasingList" message="tns:IDataReportService_GetChasingList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataReportService/GetChasingListResponse" message="tns:IDataReportService_GetChasingList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBettingForChasingList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataReportService/GetBettingForChasingList" message="tns:IDataReportService_GetBettingForChasingList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataReportService/GetBettingForChasingListResponse" message="tns:IDataReportService_GetBettingForChasingList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRechargeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataReportService/GetRechargeList" message="tns:IDataReportService_GetRechargeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataReportService/GetRechargeListResponse" message="tns:IDataReportService_GetRechargeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUntreatedRecharCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataReportService/GetUntreatedRecharCount" message="tns:IDataReportService_GetUntreatedRecharCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataReportService/GetUntreatedRecharCountResponse" message="tns:IDataReportService_GetUntreatedRecharCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeterminetRecharge">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataReportService/DeterminetRecharge" message="tns:IDataReportService_DeterminetRecharge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataReportService/DeterminetRechargeResponse" message="tns:IDataReportService_DeterminetRecharge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NegativeRecharge">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataReportService/NegativeRecharge" message="tns:IDataReportService_NegativeRecharge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataReportService/NegativeRechargeResponse" message="tns:IDataReportService_NegativeRecharge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWithdrawalList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataReportService/GetWithdrawalList" message="tns:IDataReportService_GetWithdrawalList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataReportService/GetWithdrawalListResponse" message="tns:IDataReportService_GetWithdrawalList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUntreatedWithdrawalCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataReportService/GetUntreatedWithdrawalCount" message="tns:IDataReportService_GetUntreatedWithdrawalCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataReportService/GetUntreatedWithdrawalCountResponse" message="tns:IDataReportService_GetUntreatedWithdrawalCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeterminetWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataReportService/DeterminetWithdrawal" message="tns:IDataReportService_DeterminetWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataReportService/DeterminetWithdrawalResponse" message="tns:IDataReportService_DeterminetWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NegativeWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataReportService/NegativeWithdrawal" message="tns:IDataReportService_NegativeWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataReportService/NegativeWithdrawalResponse" message="tns:IDataReportService_NegativeWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransferList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataReportService/GetTransferList" message="tns:IDataReportService_GetTransferList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataReportService/GetTransferListResponse" message="tns:IDataReportService_GetTransferList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataReportService/AddTransfer" message="tns:IDataReportService_AddTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataReportService/AddTransferResponse" message="tns:IDataReportService_AddTransfer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataReportService" type="tns:IDataReportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetComprehensiveInformation">
      <soap:operation soapAction="http://tempuri.org/IDataReportService/GetComprehensiveInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSiteDataList">
      <soap:operation soapAction="http://tempuri.org/IDataReportService/GetSiteDataList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonalDataList">
      <soap:operation soapAction="http://tempuri.org/IDataReportService/GetPersonalDataList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBettingList">
      <soap:operation soapAction="http://tempuri.org/IDataReportService/GetBettingList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChasingList">
      <soap:operation soapAction="http://tempuri.org/IDataReportService/GetChasingList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBettingForChasingList">
      <soap:operation soapAction="http://tempuri.org/IDataReportService/GetBettingForChasingList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRechargeList">
      <soap:operation soapAction="http://tempuri.org/IDataReportService/GetRechargeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUntreatedRecharCount">
      <soap:operation soapAction="http://tempuri.org/IDataReportService/GetUntreatedRecharCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeterminetRecharge">
      <soap:operation soapAction="http://tempuri.org/IDataReportService/DeterminetRecharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NegativeRecharge">
      <soap:operation soapAction="http://tempuri.org/IDataReportService/NegativeRecharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWithdrawalList">
      <soap:operation soapAction="http://tempuri.org/IDataReportService/GetWithdrawalList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUntreatedWithdrawalCount">
      <soap:operation soapAction="http://tempuri.org/IDataReportService/GetUntreatedWithdrawalCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeterminetWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IDataReportService/DeterminetWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NegativeWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IDataReportService/NegativeWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransferList">
      <soap:operation soapAction="http://tempuri.org/IDataReportService/GetTransferList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTransfer">
      <soap:operation soapAction="http://tempuri.org/IDataReportService/AddTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataReportService">
    <wsdl:port name="BasicHttpBinding_IDataReportService" binding="tns:BasicHttpBinding_IDataReportService">
      <soap:address location="http://localhost:55635/Api/Admin/DataReportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>