IWorld.Client/Service References/ActivityService/ActivityService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55635/Api/ActivityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
  <xs:complexType name="PaginationListOfNormalActivitiesResultL_PYu6_SAe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NormalActivitiesResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfNormalActivitiesResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfNormalActivitiesResultL_PYu6_SAe" nillable="true" type="tns:PaginationListOfNormalActivitiesResultL_PYu6_SAe" />
  <xs:complexType name="OperateResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperateResult" nillable="true" type="tns:OperateResult" />
  <xs:complexType name="ArrayOfNormalActivitiesResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NormalActivitiesResult" nillable="true" type="tns:NormalActivitiesResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNormalActivitiesResult" nillable="true" type="tns:ArrayOfNormalActivitiesResult" />
  <xs:complexType name="NormalActivitiesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeginTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Conditions" nillable="true" type="tns:ArrayOfConditionResult" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MaxRestrictionValues" type="xs:double" />
      <xs:element minOccurs="0" name="MinRestrictionValue" type="xs:double" />
      <xs:element minOccurs="0" name="Reward" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="RewardType" type="q1:ActivityRewardType" />
      <xs:element minOccurs="0" name="RewardValueIsAbsolute" type="xs:boolean" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Type" type="q2:ActivityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NormalActivitiesResult" nillable="true" type="tns:NormalActivitiesResult" />
  <xs:complexType name="ArrayOfConditionResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConditionResult" nillable="true" type="tns:ConditionResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConditionResult" nillable="true" type="tns:ArrayOfConditionResult" />
  <xs:complexType name="ConditionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Limit" type="xs:double" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Type" type="q3:ConditionType" />
      <xs:element minOccurs="0" name="Upper" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConditionResult" nillable="true" type="tns:ConditionResult" />
  <xs:complexType name="PaginationListOfExchangeActivitiesResultL_PYu6_SAe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ExchangeActivitiesResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfExchangeActivitiesResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfExchangeActivitiesResultL_PYu6_SAe" nillable="true" type="tns:PaginationListOfExchangeActivitiesResultL_PYu6_SAe" />
  <xs:complexType name="ArrayOfExchangeActivitiesResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExchangeActivitiesResult" nillable="true" type="tns:ExchangeActivitiesResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExchangeActivitiesResult" nillable="true" type="tns:ArrayOfExchangeActivitiesResult" />
  <xs:complexType name="ExchangeActivitiesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeginTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Conditions" nillable="true" type="tns:ArrayOfConditionResult" />
      <xs:element minOccurs="0" name="EachPersonCanExchangeTheNumberOfAll" type="xs:int" />
      <xs:element minOccurs="0" name="EachPersonCanExchangeTheNumberOfDays" type="xs:int" />
      <xs:element minOccurs="0" name="EachPersonCanExchangeTheNumberOfTimes" type="xs:int" />
      <xs:element minOccurs="0" name="EachPersonCanExchangeTheTimesOfAll" type="xs:int" />
      <xs:element minOccurs="0" name="EachPersonCanExchangeTheTimesOfDays" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExchangeId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Places" type="xs:int" />
      <xs:element minOccurs="0" name="Prizes" nillable="true" type="tns:ArrayOfPrizesResult" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExchangeActivitiesResult" nillable="true" type="tns:ExchangeActivitiesResult" />
  <xs:complexType name="ArrayOfPrizesResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrizesResult" nillable="true" type="tns:PrizesResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrizesResult" nillable="true" type="tns:ArrayOfPrizesResult" />
  <xs:complexType name="PrizesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sum" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Type" type="q4:PrizeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrizesResult" nillable="true" type="tns:PrizesResult" />
</xs:schema>