IWorld.Client/Service References/ActivityService/ActivityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ActivityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55635/Api/ActivityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/ActivityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/ActivityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" />
      <xsd:import schemaLocation="http://localhost:55635/Api/ActivityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IActivityService_GetNormalActivities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNormalActivities" />
  </wsdl:message>
  <wsdl:message name="IActivityService_GetNormalActivities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNormalActivitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityService_GetExchangeActivities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExchangeActivities" />
  </wsdl:message>
  <wsdl:message name="IActivityService_GetExchangeActivities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExchangeActivitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityService_Exchange_InputMessage">
    <wsdl:part name="parameters" element="tns:Exchange" />
  </wsdl:message>
  <wsdl:message name="IActivityService_Exchange_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExchangeResponse" />
  </wsdl:message>
  <wsdl:portType name="IActivityService">
    <wsdl:operation name="GetNormalActivities">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityService/GetNormalActivities" message="tns:IActivityService_GetNormalActivities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityService/GetNormalActivitiesResponse" message="tns:IActivityService_GetNormalActivities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExchangeActivities">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityService/GetExchangeActivities" message="tns:IActivityService_GetExchangeActivities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityService/GetExchangeActivitiesResponse" message="tns:IActivityService_GetExchangeActivities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Exchange">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityService/Exchange" message="tns:IActivityService_Exchange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityService/ExchangeResponse" message="tns:IActivityService_Exchange_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IActivityService" type="tns:IActivityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNormalActivities">
      <soap:operation soapAction="http://tempuri.org/IActivityService/GetNormalActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExchangeActivities">
      <soap:operation soapAction="http://tempuri.org/IActivityService/GetExchangeActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exchange">
      <soap:operation soapAction="http://tempuri.org/IActivityService/Exchange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivityService">
    <wsdl:port name="BasicHttpBinding_IActivityService" binding="tns:BasicHttpBinding_IActivityService">
      <soap:address location="http://localhost:55635/Api/ActivityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>