IWorld.Client/Service References/ActivityService/ActivityService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55635/Api/ActivityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" />
  <xs:element name="GetNormalActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNormalActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="GetNormalActivitiesResult" nillable="true" type="q1:PaginationListOfNormalActivitiesResultL_PYu6_SAe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchangeActivities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchangeActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="GetExchangeActivitiesResult" nillable="true" type="q2:PaginationListOfExchangeActivitiesResultL_PYu6_SAe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Exchange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exchangeId" type="xs:int" />
        <xs:element minOccurs="0" name="sum" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExchangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="ExchangeResult" nillable="true" type="q3:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>