IWorld.Shark.Control/Service References/SystemSettingService/SystemSettingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SystemSettingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/SystemSettingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/SystemSettingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/SystemSettingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/SystemSettingService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/SystemSettingService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISystemSettingService_GetWebSetting_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWebSetting" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_GetWebSetting_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWebSettingResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_EditWebSetting_InputMessage">
    <wsdl:part name="parameters" element="tns:EditWebSetting" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_EditWebSetting_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditWebSettingResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_GetBankAccountList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccountList" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_GetBankAccountList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccountListResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_AddBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBankAccount" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_AddBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_EditBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:EditBankAccount" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_EditBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_SetDefaultBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDefaultBankAccount" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_SetDefaultBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDefaultBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_RemoveBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBankAccount" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_RemoveBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_GetEmailAccountList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailAccountList" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_GetEmailAccountList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailAccountListResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_AddEmailAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmailAccount" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_AddEmailAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmailAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_EditEmailAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEmailAccount" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_EditEmailAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEmailAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_SetDefaultEmailAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDefaultEmailAccount" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_SetDefaultEmailAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDefaultEmailAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_RemoveEmailAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEmailAccount" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_RemoveEmailAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEmailAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_GetEmailClientList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailClientList" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_GetEmailClientList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailClientListResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_AddEmailClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmailClient" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_AddEmailClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmailClientResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_EditEmailClient_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEmailClient" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_EditEmailClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEmailClientResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_SetDefaultEmailClient_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDefaultEmailClient" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_SetDefaultEmailClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDefaultEmailClientResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_RemoveEmailClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEmailClient" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_RemoveEmailClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEmailClientResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_GetCollectionStatusResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCollectionStatusResult" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_GetCollectionStatusResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCollectionStatusResultResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_CloseOrOpenCollection_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseOrOpenCollection" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_CloseOrOpenCollection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseOrOpenCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_ClearCachePond_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCachePond" />
  </wsdl:message>
  <wsdl:message name="ISystemSettingService_ClearCachePond_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCachePondResponse" />
  </wsdl:message>
  <wsdl:portType name="ISystemSettingService">
    <wsdl:operation name="GetWebSetting">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/GetWebSetting" message="tns:ISystemSettingService_GetWebSetting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/GetWebSettingResponse" message="tns:ISystemSettingService_GetWebSetting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditWebSetting">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/EditWebSetting" message="tns:ISystemSettingService_EditWebSetting_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/EditWebSettingResponse" message="tns:ISystemSettingService_EditWebSetting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankAccountList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/GetBankAccountList" message="tns:ISystemSettingService_GetBankAccountList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/GetBankAccountListResponse" message="tns:ISystemSettingService_GetBankAccountList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/AddBankAccount" message="tns:ISystemSettingService_AddBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/AddBankAccountResponse" message="tns:ISystemSettingService_AddBankAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/EditBankAccount" message="tns:ISystemSettingService_EditBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/EditBankAccountResponse" message="tns:ISystemSettingService_EditBankAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDefaultBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/SetDefaultBankAccount" message="tns:ISystemSettingService_SetDefaultBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/SetDefaultBankAccountResponse" message="tns:ISystemSettingService_SetDefaultBankAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/RemoveBankAccount" message="tns:ISystemSettingService_RemoveBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/RemoveBankAccountResponse" message="tns:ISystemSettingService_RemoveBankAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmailAccountList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/GetEmailAccountList" message="tns:ISystemSettingService_GetEmailAccountList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/GetEmailAccountListResponse" message="tns:ISystemSettingService_GetEmailAccountList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmailAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/AddEmailAccount" message="tns:ISystemSettingService_AddEmailAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/AddEmailAccountResponse" message="tns:ISystemSettingService_AddEmailAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEmailAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/EditEmailAccount" message="tns:ISystemSettingService_EditEmailAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/EditEmailAccountResponse" message="tns:ISystemSettingService_EditEmailAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDefaultEmailAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/SetDefaultEmailAccount" message="tns:ISystemSettingService_SetDefaultEmailAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/SetDefaultEmailAccountResponse" message="tns:ISystemSettingService_SetDefaultEmailAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveEmailAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/RemoveEmailAccount" message="tns:ISystemSettingService_RemoveEmailAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/RemoveEmailAccountResponse" message="tns:ISystemSettingService_RemoveEmailAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmailClientList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/GetEmailClientList" message="tns:ISystemSettingService_GetEmailClientList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/GetEmailClientListResponse" message="tns:ISystemSettingService_GetEmailClientList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmailClient">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/AddEmailClient" message="tns:ISystemSettingService_AddEmailClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/AddEmailClientResponse" message="tns:ISystemSettingService_AddEmailClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEmailClient">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/EditEmailClient" message="tns:ISystemSettingService_EditEmailClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/EditEmailClientResponse" message="tns:ISystemSettingService_EditEmailClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDefaultEmailClient">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/SetDefaultEmailClient" message="tns:ISystemSettingService_SetDefaultEmailClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/SetDefaultEmailClientResponse" message="tns:ISystemSettingService_SetDefaultEmailClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveEmailClient">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/RemoveEmailClient" message="tns:ISystemSettingService_RemoveEmailClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/RemoveEmailClientResponse" message="tns:ISystemSettingService_RemoveEmailClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCollectionStatusResult">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/GetCollectionStatusResult" message="tns:ISystemSettingService_GetCollectionStatusResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/GetCollectionStatusResultResponse" message="tns:ISystemSettingService_GetCollectionStatusResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseOrOpenCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/CloseOrOpenCollection" message="tns:ISystemSettingService_CloseOrOpenCollection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/CloseOrOpenCollectionResponse" message="tns:ISystemSettingService_CloseOrOpenCollection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearCachePond">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemSettingService/ClearCachePond" message="tns:ISystemSettingService_ClearCachePond_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemSettingService/ClearCachePondResponse" message="tns:ISystemSettingService_ClearCachePond_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISystemSettingService" type="tns:ISystemSettingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWebSetting">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/GetWebSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditWebSetting">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/EditWebSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankAccountList">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/GetBankAccountList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBankAccount">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/AddBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBankAccount">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/EditBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDefaultBankAccount">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/SetDefaultBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveBankAccount">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/RemoveBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailAccountList">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/GetEmailAccountList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmailAccount">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/AddEmailAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEmailAccount">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/EditEmailAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDefaultEmailAccount">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/SetDefaultEmailAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveEmailAccount">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/RemoveEmailAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailClientList">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/GetEmailClientList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmailClient">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/AddEmailClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEmailClient">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/EditEmailClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDefaultEmailClient">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/SetDefaultEmailClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveEmailClient">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/RemoveEmailClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollectionStatusResult">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/GetCollectionStatusResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseOrOpenCollection">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/CloseOrOpenCollection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearCachePond">
      <soap:operation soapAction="http://tempuri.org/ISystemSettingService/ClearCachePond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemSettingService">
    <wsdl:port name="BasicHttpBinding_ISystemSettingService" binding="tns:BasicHttpBinding_ISystemSettingService">
      <soap:address location="http://localhost:55635/Api/Admin/SystemSettingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>