IWorld.Admin/Service References/ManagerService/ManagerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Group" nillable="true" type="tns:ManagerGroupResult" />
          <xs:element minOccurs="0" name="LastLoginTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoginResult" nillable="true" type="tns:LoginResult" />
  <xs:complexType name="OperateResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperateResult" nillable="true" type="tns:OperateResult" />
  <xs:complexType name="ManagerGroupResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanEditActivities" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanEditTickets" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanEditUsers" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanSettingSite" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanViewActivities" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanViewAndAddFundsReports" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanViewAndEditManagers" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanViewAndEditMessageBox" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanViewDataReports" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanViewTickets" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanViewUsers" type="xs:boolean" />
      <xs:element minOccurs="0" name="Grade" type="xs:int" />
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManagerGroupResult" nillable="true" type="tns:ManagerGroupResult" />
  <xs:complexType name="PaginationListOfManagerInfoResultp9CVq9mK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ManagerInfoResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfManagerInfoResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfManagerInfoResultp9CVq9mK" nillable="true" type="tns:PaginationListOfManagerInfoResultp9CVq9mK" />
  <xs:complexType name="ArrayOfManagerInfoResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ManagerInfoResult" nillable="true" type="tns:ManagerInfoResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManagerInfoResult" nillable="true" type="tns:ArrayOfManagerInfoResult" />
  <xs:complexType name="ManagerInfoResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="LastLoginIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastLoginTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManagerInfoResult" nillable="true" type="tns:ManagerInfoResult" />
  <xs:complexType name="PaginationListOfManagerGroupResultp9CVq9mK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ManagerGroupResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfManagerGroupResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfManagerGroupResultp9CVq9mK" nillable="true" type="tns:PaginationListOfManagerGroupResultp9CVq9mK" />
  <xs:complexType name="ArrayOfManagerGroupResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ManagerGroupResult" nillable="true" type="tns:ManagerGroupResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManagerGroupResult" nillable="true" type="tns:ArrayOfManagerGroupResult" />
  <xs:complexType name="AddManagerGroupImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanEditActivities" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanEditTickets" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanEditUsers" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanSettingSite" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanViewActivities" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanViewAndAddFundsReports" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanViewAndEditManagers" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanViewAndEditMessageBox" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanViewDataReports" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanViewTickets" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanViewUsers" type="xs:boolean" />
      <xs:element minOccurs="0" name="Grade" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddManagerGroupImport" nillable="true" type="tns:AddManagerGroupImport" />
  <xs:complexType name="EditManagerGroupImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanEditActivities" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanEditTickets" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanEditUsers" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanSettingSite" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanViewActivities" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanViewAndAddFundsReports" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanViewAndEditMessageBox" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanViewDataReports" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanViewTickets" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanViewUsers" type="xs:boolean" />
      <xs:element minOccurs="0" name="Grade" type="xs:int" />
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditManagerGroupImport" nillable="true" type="tns:EditManagerGroupImport" />
  <xs:complexType name="PaginationListOfLandingRecordResultp9CVq9mK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="LandingRecordResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfLandingRecordResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfLandingRecordResultp9CVq9mK" nillable="true" type="tns:PaginationListOfLandingRecordResultp9CVq9mK" />
  <xs:complexType name="ArrayOfLandingRecordResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LandingRecordResult" nillable="true" type="tns:LandingRecordResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLandingRecordResult" nillable="true" type="tns:ArrayOfLandingRecordResult" />
  <xs:complexType name="LandingRecordResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LandingTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LandingRecordResult" nillable="true" type="tns:LandingRecordResult" />
  <xs:complexType name="PaginationListOfOperatedRecordResultp9CVq9mK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="OperatedRecordResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfOperatedRecordResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfOperatedRecordResultp9CVq9mK" nillable="true" type="tns:PaginationListOfOperatedRecordResultp9CVq9mK" />
  <xs:complexType name="ArrayOfOperatedRecordResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OperatedRecordResult" nillable="true" type="tns:OperatedRecordResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperatedRecordResult" nillable="true" type="tns:ArrayOfOperatedRecordResult" />
  <xs:complexType name="OperatedRecordResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Operated" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperatedRecordResult" nillable="true" type="tns:OperatedRecordResult" />
</xs:schema>