IWorld.Admin/Service References/ManagerService/ManagerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55635/Api/Admin/ManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="LoginResult" nillable="true" type="q1:LoginResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="LogoutResult" nillable="true" type="q2:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Heartbeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartbeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="HeartbeatResult" nillable="true" type="q3:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetListResult" nillable="true" type="q4:PaginationListOfManagerInfoResultp9CVq9mK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="group" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="AddResult" nillable="true" type="q5:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="RemoveResult" nillable="true" type="q6:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="ResetPassageResult" nillable="true" type="q7:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="GroupId" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="ChangeGroupResult" nillable="true" type="q8:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetGroupListResult" nillable="true" type="q9:PaginationListOfManagerGroupResultp9CVq9mK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="import" nillable="true" type="q10:AddManagerGroupImport" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="AddGroupResult" nillable="true" type="q11:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="import" nillable="true" type="q12:EditManagerGroupImport" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="EditGroupResult" nillable="true" type="q13:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="RemoveGroupResult" nillable="true" type="q14:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandingRecordList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="beginTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLandingRecordListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetLandingRecordListResult" nillable="true" type="q15:PaginationListOfLandingRecordResultp9CVq9mK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperatedRecordList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="beginTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperatedRecordListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetOperatedRecordListResult" nillable="true" type="q16:PaginationListOfOperatedRecordResultp9CVq9mK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>