IWorld.Client/Service References/UsersService/UsersService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsersService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55635/Api/UsersService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/UsersService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/UsersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" />
      <xsd:import schemaLocation="http://localhost:55635/Api/UsersService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsersService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUsersService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersService_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IUsersService_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersService_Binding_InputMessage">
    <wsdl:part name="parameters" element="tns:Binding" />
  </wsdl:message>
  <wsdl:message name="IUsersService_Binding_OutputMessage">
    <wsdl:part name="parameters" element="tns:BindingResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersService_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IUsersService_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IUsersService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersService_UpgradePorn_InputMessage">
    <wsdl:part name="parameters" element="tns:UpgradePorn" />
  </wsdl:message>
  <wsdl:message name="IUsersService_UpgradePorn_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpgradePornResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersService_EditBank_InputMessage">
    <wsdl:part name="parameters" element="tns:EditBank" />
  </wsdl:message>
  <wsdl:message name="IUsersService_EditBank_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditBankResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersService_EditEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEmail" />
  </wsdl:message>
  <wsdl:message name="IUsersService_EditEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersService_EditPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:EditPassword" />
  </wsdl:message>
  <wsdl:message name="IUsersService_EditPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersService_EditSafeWord_InputMessage">
    <wsdl:part name="parameters" element="tns:EditSafeWord" />
  </wsdl:message>
  <wsdl:message name="IUsersService_EditSafeWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditSafeWordResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsersService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/Login" message="tns:IUsersService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/LoginResponse" message="tns:IUsersService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/GetUserInfo" message="tns:IUsersService_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/GetUserInfoResponse" message="tns:IUsersService_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Binding">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/Binding" message="tns:IUsersService_Binding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/BindingResponse" message="tns:IUsersService_Binding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/GetUsers" message="tns:IUsersService_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/GetUsersResponse" message="tns:IUsersService_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/CreateUser" message="tns:IUsersService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/CreateUserResponse" message="tns:IUsersService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpgradePorn">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/UpgradePorn" message="tns:IUsersService_UpgradePorn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/UpgradePornResponse" message="tns:IUsersService_UpgradePorn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditBank">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/EditBank" message="tns:IUsersService_EditBank_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/EditBankResponse" message="tns:IUsersService_EditBank_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/EditEmail" message="tns:IUsersService_EditEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/EditEmailResponse" message="tns:IUsersService_EditEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/EditPassword" message="tns:IUsersService_EditPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/EditPasswordResponse" message="tns:IUsersService_EditPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditSafeWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersService/EditSafeWord" message="tns:IUsersService_EditSafeWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersService/EditSafeWordResponse" message="tns:IUsersService_EditSafeWord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsersService" type="tns:IUsersService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IUsersService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/IUsersService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Binding">
      <soap:operation soapAction="http://tempuri.org/IUsersService/Binding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IUsersService/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IUsersService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpgradePorn">
      <soap:operation soapAction="http://tempuri.org/IUsersService/UpgradePorn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBank">
      <soap:operation soapAction="http://tempuri.org/IUsersService/EditBank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEmail">
      <soap:operation soapAction="http://tempuri.org/IUsersService/EditEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPassword">
      <soap:operation soapAction="http://tempuri.org/IUsersService/EditPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditSafeWord">
      <soap:operation soapAction="http://tempuri.org/IUsersService/EditSafeWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsersService">
    <wsdl:port name="BasicHttpBinding_IUsersService" binding="tns:BasicHttpBinding_IUsersService">
      <soap:address location="http://localhost:55635/Api/UsersService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>