IWorld.Client/Service References/UsersService/UsersService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55635/Api/UsersService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
  <xs:complexType name="LoginResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoginResult" nillable="true" type="tns:LoginResult" />
  <xs:complexType name="OperateResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperateResult" nillable="true" type="tns:OperateResult" />
  <xs:complexType name="UserInfoResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Bank" type="q1:Bank" />
          <xs:element minOccurs="0" name="BindingCard" type="xs:boolean" />
          <xs:element minOccurs="0" name="BindingEmail" type="xs:boolean" />
          <xs:element minOccurs="0" name="Card" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Consumption" type="xs:double" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Group" nillable="true" type="tns:UserGroupResult" />
          <xs:element minOccurs="0" name="Holder" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Integral" type="xs:double" />
          <xs:element minOccurs="0" name="IsAgents" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastLoginIp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastLoginTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Money" type="xs:double" />
          <xs:element minOccurs="0" name="MoneyBeFrozen" type="xs:double" />
          <xs:element minOccurs="0" name="NormalReturnPoints" type="xs:double" />
          <xs:element minOccurs="0" name="Quota" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Status" type="q2:UserStatus" />
          <xs:element minOccurs="0" name="UncertainReturnPoints" type="xs:double" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserInfoResult" nillable="true" type="tns:UserInfoResult" />
  <xs:complexType name="UserGroupResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorOfName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grade" type="xs:int" />
      <xs:element minOccurs="0" name="MaximumRechargeAmount" type="xs:double" />
      <xs:element minOccurs="0" name="MaximumWithdrawalAmount" type="xs:double" />
      <xs:element minOccurs="0" name="MinimumRechargeAmount" type="xs:double" />
      <xs:element minOccurs="0" name="MinimumWithdrawalAmount" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Withdrawals" type="xs:int" />
      <xs:element minOccurs="0" name="WithdrawalsAtAnyTime" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserGroupResult" nillable="true" type="tns:UserGroupResult" />
  <xs:complexType name="UserInfoBindingImport">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Bank" type="q3:Bank" />
      <xs:element minOccurs="0" name="Card" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Holder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SafeCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfoBindingImport" nillable="true" type="tns:UserInfoBindingImport" />
  <xs:complexType name="PaginationListOfBasicUserInfoResultL_PYu6_SAe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="BasicUserInfoResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfBasicUserInfoResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfBasicUserInfoResultL_PYu6_SAe" nillable="true" type="tns:PaginationListOfBasicUserInfoResultL_PYu6_SAe" />
  <xs:complexType name="ArrayOfBasicUserInfoResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BasicUserInfoResult" nillable="true" type="tns:BasicUserInfoResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBasicUserInfoResult" nillable="true" type="tns:ArrayOfBasicUserInfoResult" />
  <xs:complexType name="BasicUserInfoResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Consumption" type="xs:double" />
      <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastLoginIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastLoginTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Money" type="xs:double" />
      <xs:element minOccurs="0" name="NormalReturnPoints" type="xs:double" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Status" type="q4:UserStatus" />
      <xs:element minOccurs="0" name="UncertainReturnPoints" type="xs:double" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicUserInfoResult" nillable="true" type="tns:BasicUserInfoResult" />
  <xs:complexType name="CreateUserImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="NormalReturnPoints" type="xs:double" />
      <xs:element minOccurs="0" name="Quota" type="xs:int" />
      <xs:element minOccurs="0" name="UncertainReturnPoints" type="xs:double" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateUserImport" nillable="true" type="tns:CreateUserImport" />
  <xs:complexType name="CreateUserResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateUserResult" nillable="true" type="tns:CreateUserResult" />
</xs:schema>