IWorld.Admin.Framework/Service References/DataReportService/DataReportService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55635/Api/Admin/DataReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
  <xs:import schemaLocation="http://localhost:55635/Api/Admin/DataReportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
  <xs:element name="GetComprehensiveInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComprehensiveInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetComprehensiveInformationResult" nillable="true" type="q1:ComprehensiveInformationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="timePeriod" type="q2:TimePeriodSelectType" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetSiteDataListResult" nillable="true" type="q3:PaginationListOfSiteDataResultp9CVq9mK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonalDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="timePeriod" type="q4:TimePeriodSelectType" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonalDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetPersonalDataListResult" nillable="true" type="q5:PaginationListOfPersonalDataResultp9CVq9mK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBettingList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ownerId" type="xs:int" />
        <xs:element minOccurs="0" name="ticketId" type="xs:int" />
        <xs:element minOccurs="0" name="tagId" type="xs:int" />
        <xs:element minOccurs="0" name="howToPlatId" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="status" type="q6:BettingStatusSelectType" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBettingListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetBettingListResult" nillable="true" type="q7:PaginationListOfBettingResultp9CVq9mK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChasingList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ownerId" type="xs:int" />
        <xs:element minOccurs="0" name="ticketId" type="xs:int" />
        <xs:element minOccurs="0" name="tagId" type="xs:int" />
        <xs:element minOccurs="0" name="howToPlatId" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="status" type="q8:ChasingStatusSelectType" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChasingListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetChasingListResult" nillable="true" type="q9:PaginationListOfChasingResultp9CVq9mK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBettingForChasingList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chasingId" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="status" type="q10:BettingStatusSelectType" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBettingForChasingListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetBettingForChasingListResult" nillable="true" type="q11:PaginationListOfBettingForChasingResultp9CVq9mK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRechargeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="status" type="q12:RechargeStatusSelectType" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRechargeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetRechargeListResult" nillable="true" type="q13:PaginationListOfRechargeResultp9CVq9mK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUntreatedRecharCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUntreatedRecharCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetUntreatedRecharCountResult" nillable="true" type="q14:UntreatedRecharCountResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeterminetRecharge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rechargeId" type="xs:int" />
        <xs:element minOccurs="0" name="card" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="bank" type="q15:Bank" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeterminetRechargeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="DeterminetRechargeResult" nillable="true" type="q16:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NegativeRecharge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rechargeId" type="xs:int" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NegativeRechargeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="NegativeRechargeResult" nillable="true" type="q17:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWithdrawalList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="status" type="q18:WithdrawalsStatusSelectType" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWithdrawalListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetWithdrawalListResult" nillable="true" type="q19:PaginationListOfWithdrawalResultp9CVq9mK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUntreatedWithdrawalCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUntreatedWithdrawalCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetUntreatedWithdrawalCountResult" nillable="true" type="q20:UntreatedWithdrawalCountResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeterminetWithdrawal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="withdrawalId" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeterminetWithdrawalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="DeterminetWithdrawalResult" nillable="true" type="q21:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NegativeWithdrawal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="withdrawalId" type="xs:int" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NegativeWithdrawalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="NegativeWithdrawalResult" nillable="true" type="q22:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="beginTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="GetTransferListResult" nillable="true" type="q23:PaginationListOfTransferResultp9CVq9mK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sum" type="xs:double" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" minOccurs="0" name="AddTransferResult" nillable="true" type="q24:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>