IWorld.Admin.Framework/Service References/BulletinService/BulletinService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BulletinService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/BulletinService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/BulletinService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/Admin/BulletinService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBulletinService_GetBulletinList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBulletinList" />
  </wsdl:message>
  <wsdl:message name="IBulletinService_GetBulletinList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBulletinListResponse" />
  </wsdl:message>
  <wsdl:message name="IBulletinService_AddBulletin_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBulletin" />
  </wsdl:message>
  <wsdl:message name="IBulletinService_AddBulletin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBulletinResponse" />
  </wsdl:message>
  <wsdl:message name="IBulletinService_EditBulletin_InputMessage">
    <wsdl:part name="parameters" element="tns:EditBulletin" />
  </wsdl:message>
  <wsdl:message name="IBulletinService_EditBulletin_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditBulletinResponse" />
  </wsdl:message>
  <wsdl:message name="IBulletinService_RemoveBulletin_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBulletin" />
  </wsdl:message>
  <wsdl:message name="IBulletinService_RemoveBulletin_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBulletinResponse" />
  </wsdl:message>
  <wsdl:message name="IBulletinService_HideBulletin_InputMessage">
    <wsdl:part name="parameters" element="tns:HideBulletin" />
  </wsdl:message>
  <wsdl:message name="IBulletinService_HideBulletin_OutputMessage">
    <wsdl:part name="parameters" element="tns:HideBulletinResponse" />
  </wsdl:message>
  <wsdl:message name="IBulletinService_ShowBulletin_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowBulletin" />
  </wsdl:message>
  <wsdl:message name="IBulletinService_ShowBulletin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowBulletinResponse" />
  </wsdl:message>
  <wsdl:portType name="IBulletinService">
    <wsdl:operation name="GetBulletinList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBulletinService/GetBulletinList" message="tns:IBulletinService_GetBulletinList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBulletinService/GetBulletinListResponse" message="tns:IBulletinService_GetBulletinList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBulletin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBulletinService/AddBulletin" message="tns:IBulletinService_AddBulletin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBulletinService/AddBulletinResponse" message="tns:IBulletinService_AddBulletin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditBulletin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBulletinService/EditBulletin" message="tns:IBulletinService_EditBulletin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBulletinService/EditBulletinResponse" message="tns:IBulletinService_EditBulletin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveBulletin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBulletinService/RemoveBulletin" message="tns:IBulletinService_RemoveBulletin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBulletinService/RemoveBulletinResponse" message="tns:IBulletinService_RemoveBulletin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HideBulletin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBulletinService/HideBulletin" message="tns:IBulletinService_HideBulletin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBulletinService/HideBulletinResponse" message="tns:IBulletinService_HideBulletin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowBulletin">
      <wsdl:input wsaw:Action="http://tempuri.org/IBulletinService/ShowBulletin" message="tns:IBulletinService_ShowBulletin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBulletinService/ShowBulletinResponse" message="tns:IBulletinService_ShowBulletin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBulletinService" type="tns:IBulletinService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBulletinList">
      <soap:operation soapAction="http://tempuri.org/IBulletinService/GetBulletinList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBulletin">
      <soap:operation soapAction="http://tempuri.org/IBulletinService/AddBulletin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBulletin">
      <soap:operation soapAction="http://tempuri.org/IBulletinService/EditBulletin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveBulletin">
      <soap:operation soapAction="http://tempuri.org/IBulletinService/RemoveBulletin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HideBulletin">
      <soap:operation soapAction="http://tempuri.org/IBulletinService/HideBulletin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowBulletin">
      <soap:operation soapAction="http://tempuri.org/IBulletinService/ShowBulletin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BulletinService">
    <wsdl:port name="BasicHttpBinding_IBulletinService" binding="tns:BasicHttpBinding_IBulletinService">
      <soap:address location="http://localhost:55635/Api/Admin/BulletinService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>