IWorld.Admin/Service References/CollectionService/CollectionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCollectionResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CollectionResult" nillable="true" type="tns:CollectionResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCollectionResult" nillable="true" type="tns:ArrayOfCollectionResult" />
  <xs:complexType name="CollectionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollectionResult" nillable="true" type="tns:CollectionResult" />
</xs:schema>