IWorld.Client/Service References/DataReportService/DataReportService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ReportsType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="个人" />
      <xs:enumeration value="团队" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReportsType" nillable="true" type="tns:ReportsType" />
  <xs:complexType name="PaginationListOfDataReportsResultL_PYu6_SAe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="DataReportsResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfDataReportsResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfDataReportsResultL_PYu6_SAe" nillable="true" type="tns:PaginationListOfDataReportsResultL_PYu6_SAe" />
  <xs:complexType name="OperateResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperateResult" nillable="true" type="tns:OperateResult" />
  <xs:complexType name="ArrayOfDataReportsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataReportsResult" nillable="true" type="tns:DataReportsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataReportsResult" nillable="true" type="tns:ArrayOfDataReportsResult" />
  <xs:complexType name="DataReportsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:double" />
      <xs:element minOccurs="0" name="Bet" type="xs:double" />
      <xs:element minOccurs="0" name="Bonus" type="xs:double" />
      <xs:element minOccurs="0" name="Expenditures" type="xs:double" />
      <xs:element minOccurs="0" name="Profit" type="xs:double" />
      <xs:element minOccurs="0" name="Recharge" type="xs:double" />
      <xs:element minOccurs="0" name="ReturnPoints" type="xs:double" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Withdrawal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataReportsResult" nillable="true" type="tns:DataReportsResult" />
</xs:schema>