IWorld.Shark.Control/Service References/JawService/JawService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55635/Api/JawService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" />
  <xs:element name="GetMainOfJaw">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMainOfJawResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="GetMainOfJawResult" nillable="true" type="q1:MainOfJawResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLotterys">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLotterysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="GetLotterysResult" nillable="true" type="q2:ArrayOfLotteryOfJawResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="import" nillable="true" type="q3:BettingOfJawImport" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="BetResult" nillable="true" type="q4:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Revocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="RevocationResult" nillable="true" type="q5:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>