IWorld.Shark.Control/Service References/JawService/JawService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55635/Api/JawService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
  <xs:complexType name="MainOfJawResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="HadLottery" type="xs:boolean" />
          <xs:element minOccurs="0" name="LoteryValue" type="xs:int" />
          <xs:element minOccurs="0" name="NextLotteryTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NextPhases" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phases" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Profit" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MainOfJawResult" nillable="true" type="tns:MainOfJawResult" />
  <xs:complexType name="OperateResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperateResult" nillable="true" type="tns:OperateResult" />
  <xs:complexType name="ArrayOfLotteryOfJawResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LotteryOfJawResult" nillable="true" type="tns:LotteryOfJawResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLotteryOfJawResult" nillable="true" type="tns:ArrayOfLotteryOfJawResult" />
  <xs:complexType name="LotteryOfJawResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Icon" type="q1:IconOfJaw" />
      <xs:element minOccurs="0" name="Issue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LotteryOfJawResult" nillable="true" type="tns:LotteryOfJawResult" />
  <xs:complexType name="BettingOfJawImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:ArrayOfBettingDetailOfJawImport" />
      <xs:element minOccurs="0" name="Issue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BettingOfJawImport" nillable="true" type="tns:BettingOfJawImport" />
  <xs:complexType name="ArrayOfBettingDetailOfJawImport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BettingDetailOfJawImport" nillable="true" type="tns:BettingDetailOfJawImport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBettingDetailOfJawImport" nillable="true" type="tns:ArrayOfBettingDetailOfJawImport" />
  <xs:complexType name="BettingDetailOfJawImport">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Icon" type="q2:IconOfJaw" />
      <xs:element minOccurs="0" name="Sum" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BettingDetailOfJawImport" nillable="true" type="tns:BettingDetailOfJawImport" />
</xs:schema>