IWorld.Client/Service References/CustomerService/CustomerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55635/Api/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
  <xs:complexType name="NormalListOfCustomerMessageResultL_PYu6_SAe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="NormalListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CustomerMessageResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfCustomerMessageResult" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NormalListOfCustomerMessageResultL_PYu6_SAe" nillable="true" type="tns:NormalListOfCustomerMessageResultL_PYu6_SAe" />
  <xs:complexType name="OperateResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperateResult" nillable="true" type="tns:OperateResult" />
  <xs:complexType name="ArrayOfCustomerMessageResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerMessageResult" nillable="true" type="tns:CustomerMessageResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerMessageResult" nillable="true" type="tns:ArrayOfCustomerMessageResult" />
  <xs:complexType name="CustomerMessageResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsService" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Type" type="q1:CustomerType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerMessageResult" nillable="true" type="tns:CustomerMessageResult" />
</xs:schema>