IWorld.Client/Service References/CustomerService/CustomerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55635/Api/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
  <xs:import schemaLocation="http://localhost:55635/Api/CustomerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" />
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="type" type="q1:CustomerType" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="GetMessagesResult" nillable="true" type="q2:NormalListOfCustomerMessageResultL_PYu6_SAe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="type" type="q3:CustomerType" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="SendResult" nillable="true" type="q4:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>