IWorld.Admin/Service References/SystemSettingService/SystemSettingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55635/Api/Admin/SystemSettingService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:55635/Api/Admin/SystemSettingService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
  <xs:complexType name="WebSettingResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Banks" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BonusModeScale" type="xs:double" />
          <xs:element minOccurs="0" name="ClosureSingleTime" type="xs:int" />
          <xs:element minOccurs="0" name="CollectionRunning" type="xs:boolean" />
          <xs:element minOccurs="0" name="ConversionRates" type="xs:double" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HeartbeatInterval" type="xs:int" />
          <xs:element minOccurs="0" name="Keywords" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LineForProhibitBetting" type="xs:int" />
          <xs:element minOccurs="0" name="MaximumBetsNumber" type="xs:int" />
          <xs:element minOccurs="0" name="MaximumBonusMode" type="xs:int" />
          <xs:element minOccurs="0" name="MaximumPayout" type="xs:int" />
          <xs:element minOccurs="0" name="MaximumRechargeAmount" type="xs:double" />
          <xs:element minOccurs="0" name="MaximumReturnPoints" type="xs:double" />
          <xs:element minOccurs="0" name="MaximumWithdrawalAmount" type="xs:double" />
          <xs:element minOccurs="0" name="MinimumBonusMode" type="xs:int" />
          <xs:element minOccurs="0" name="MinimumRechargeAmount" type="xs:double" />
          <xs:element minOccurs="0" name="MinimumReturnPoints" type="xs:double" />
          <xs:element minOccurs="0" name="MinimumWithdrawalAmount" type="xs:double" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PageSizeForAdmin" type="xs:int" />
          <xs:element minOccurs="0" name="PageSizeForClient" type="xs:int" />
          <xs:element minOccurs="0" name="PayoutBase" type="xs:int" />
          <xs:element minOccurs="0" name="ProfitabilityOfAllDayLottery" type="xs:double" />
          <xs:element minOccurs="0" name="ReferenceBonusMode" type="xs:int" />
          <xs:element minOccurs="0" name="ReturnPointsDifference" type="xs:double" />
          <xs:element minOccurs="0" name="ReturnPointsScale" type="xs:double" />
          <xs:element minOccurs="0" name="Rootpath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpreadKeepTime" type="xs:int" />
          <xs:element minOccurs="0" name="Subordinate" type="xs:int" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TheContrast" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
          <xs:element minOccurs="0" name="TimeOfNoticeShow" type="xs:int" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnitPrice" type="xs:double" />
          <xs:element minOccurs="0" name="UserInTime" type="xs:int" />
          <xs:element minOccurs="0" name="VirtualQueuing" type="xs:int" />
          <xs:element minOccurs="0" name="WithdrawalInstructions" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Withdrawals" type="xs:int" />
          <xs:element minOccurs="0" name="WorkingHour_Begin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkingHour_End" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebSettingResult" nillable="true" type="tns:WebSettingResult" />
  <xs:complexType name="OperateResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperateResult" nillable="true" type="tns:OperateResult" />
  <xs:complexType name="EditWebSettingImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Banks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BonusModeScale" type="xs:double" />
      <xs:element minOccurs="0" name="ClosureSingleTime" type="xs:int" />
      <xs:element minOccurs="0" name="ConversionRates" type="xs:double" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeartbeatInterval" type="xs:int" />
      <xs:element minOccurs="0" name="Keywords" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineForProhibitBetting" type="xs:int" />
      <xs:element minOccurs="0" name="MaximumBetsNumber" type="xs:int" />
      <xs:element minOccurs="0" name="MaximumBonusMode" type="xs:int" />
      <xs:element minOccurs="0" name="MaximumPayout" type="xs:int" />
      <xs:element minOccurs="0" name="MaximumRechargeAmount" type="xs:double" />
      <xs:element minOccurs="0" name="MaximumReturnPoints" type="xs:double" />
      <xs:element minOccurs="0" name="MaximumWithdrawalAmount" type="xs:double" />
      <xs:element minOccurs="0" name="MinimumBonusMode" type="xs:int" />
      <xs:element minOccurs="0" name="MinimumRechargeAmount" type="xs:double" />
      <xs:element minOccurs="0" name="MinimumReturnPoints" type="xs:double" />
      <xs:element minOccurs="0" name="MinimumWithdrawalAmount" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageSizeForAdmin" type="xs:int" />
      <xs:element minOccurs="0" name="PageSizeForClient" type="xs:int" />
      <xs:element minOccurs="0" name="PayoutBase" type="xs:int" />
      <xs:element minOccurs="0" name="ProfitabilityOfAllDayLottery" type="xs:double" />
      <xs:element minOccurs="0" name="ReferenceBonusMode" type="xs:int" />
      <xs:element minOccurs="0" name="ReturnPointsDifference" type="xs:double" />
      <xs:element minOccurs="0" name="ReturnPointsScale" type="xs:double" />
      <xs:element minOccurs="0" name="Rootpath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpreadKeepTime" type="xs:int" />
      <xs:element minOccurs="0" name="Subordinate" type="xs:int" />
      <xs:element minOccurs="0" name="TimeOfNoticeShow" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:double" />
      <xs:element minOccurs="0" name="UserInTime" type="xs:int" />
      <xs:element minOccurs="0" name="VirtualQueuing" type="xs:int" />
      <xs:element minOccurs="0" name="WithdrawalInstructions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Withdrawals" type="xs:int" />
      <xs:element minOccurs="0" name="WorkingHour_Begin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkingHour_End" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditWebSettingImport" nillable="true" type="tns:EditWebSettingImport" />
  <xs:complexType name="PaginationListOfBankAccountResultp9CVq9mK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="BankAccountResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfBankAccountResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfBankAccountResultp9CVq9mK" nillable="true" type="tns:PaginationListOfBankAccountResultp9CVq9mK" />
  <xs:complexType name="ArrayOfBankAccountResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankAccountResult" nillable="true" type="tns:BankAccountResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBankAccountResult" nillable="true" type="tns:ArrayOfBankAccountResult" />
  <xs:complexType name="BankAccountResult">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Bank" type="q2:Bank" />
      <xs:element minOccurs="0" name="BankAccountId" type="xs:int" />
      <xs:element minOccurs="0" name="Card" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankAccountResult" nillable="true" type="tns:BankAccountResult" />
  <xs:complexType name="AddBankAccountImport">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Bank" type="q3:Bank" />
      <xs:element minOccurs="0" name="Card" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddBankAccountImport" nillable="true" type="tns:AddBankAccountImport" />
  <xs:complexType name="EditBankAccountImport">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Bank" type="q4:Bank" />
      <xs:element minOccurs="0" name="BankAccountId" type="xs:int" />
      <xs:element minOccurs="0" name="Card" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditBankAccountImport" nillable="true" type="tns:EditBankAccountImport" />
  <xs:complexType name="PaginationListOfEmailAccountResultp9CVq9mK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="EmailAccountResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfEmailAccountResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfEmailAccountResultp9CVq9mK" nillable="true" type="tns:PaginationListOfEmailAccountResultp9CVq9mK" />
  <xs:complexType name="ArrayOfEmailAccountResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailAccountResult" nillable="true" type="tns:EmailAccountResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailAccountResult" nillable="true" type="tns:ArrayOfEmailAccountResult" />
  <xs:complexType name="EmailAccountResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:EmailClientResult" />
      <xs:element minOccurs="0" name="EmailAccountId" type="xs:int" />
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailAccountResult" nillable="true" type="tns:EmailAccountResult" />
  <xs:complexType name="EmailClientResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailClientId" type="xs:int" />
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailClientResult" nillable="true" type="tns:EmailClientResult" />
  <xs:complexType name="AddEmailAccountImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddEmailAccountImport" nillable="true" type="tns:AddEmailAccountImport" />
  <xs:complexType name="EditEmailAccountImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAccountId" type="xs:int" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditEmailAccountImport" nillable="true" type="tns:EditEmailAccountImport" />
  <xs:complexType name="PaginationListOfEmailClientResultp9CVq9mK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="EmailClientResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfEmailClientResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfEmailClientResultp9CVq9mK" nillable="true" type="tns:PaginationListOfEmailClientResultp9CVq9mK" />
  <xs:complexType name="ArrayOfEmailClientResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailClientResult" nillable="true" type="tns:EmailClientResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailClientResult" nillable="true" type="tns:ArrayOfEmailClientResult" />
  <xs:complexType name="AddEmailClientImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddEmailClientImport" nillable="true" type="tns:AddEmailClientImport" />
  <xs:complexType name="EditEmailClientImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailClientId" type="xs:int" />
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditEmailClientImport" nillable="true" type="tns:EditEmailClientImport" />
  <xs:complexType name="CollectionStatusResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Running" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CollectionStatusResult" nillable="true" type="tns:CollectionStatusResult" />
</xs:schema>