IWorld.Client/Service References/FundsService/FundsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55635/Api/FundsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
  <xs:complexType name="RechargeResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Bank1" type="q1:Bank" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Bank2" type="q2:Bank" />
          <xs:element minOccurs="0" name="Card1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Card2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Holder1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Holder2" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RechargeResult" nillable="true" type="tns:RechargeResult" />
  <xs:complexType name="OperateResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperateResult" nillable="true" type="tns:OperateResult" />
  <xs:complexType name="PaginationListOfRechargeDetailsResultL_PYu6_SAe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="RechargeDetailsResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfRechargeDetailsResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfRechargeDetailsResultL_PYu6_SAe" nillable="true" type="tns:PaginationListOfRechargeDetailsResultL_PYu6_SAe" />
  <xs:complexType name="ArrayOfRechargeDetailsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RechargeDetailsResult" nillable="true" type="tns:RechargeDetailsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRechargeDetailsResult" nillable="true" type="tns:ArrayOfRechargeDetailsResult" />
  <xs:complexType name="RechargeDetailsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RechargeId" type="xs:int" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Status" type="q3:RechargeStatus" />
      <xs:element minOccurs="0" name="Sum" type="xs:double" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="To" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RechargeDetailsResult" nillable="true" type="tns:RechargeDetailsResult" />
  <xs:complexType name="PaginationListOfWithdrawDetailsResultL_PYu6_SAe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="WithdrawDetailsResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfWithdrawDetailsResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfWithdrawDetailsResultL_PYu6_SAe" nillable="true" type="tns:PaginationListOfWithdrawDetailsResultL_PYu6_SAe" />
  <xs:complexType name="ArrayOfWithdrawDetailsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WithdrawDetailsResult" nillable="true" type="tns:WithdrawDetailsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWithdrawDetailsResult" nillable="true" type="tns:ArrayOfWithdrawDetailsResult" />
  <xs:complexType name="WithdrawDetailsResult">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Bank" type="q4:Bank" />
      <xs:element minOccurs="0" name="Card" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Holder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Status" type="q5:WithdrawalsStatus" />
      <xs:element minOccurs="0" name="Sum" type="xs:double" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WithdrawalsId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WithdrawDetailsResult" nillable="true" type="tns:WithdrawDetailsResult" />
</xs:schema>