IWorld.Client/Service References/FundsService/FundsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FundsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55635/Api/FundsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/FundsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55635/Api/FundsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" />
      <xsd:import schemaLocation="http://localhost:55635/Api/FundsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFundsService_Recharge_InputMessage">
    <wsdl:part name="parameters" element="tns:Recharge" />
  </wsdl:message>
  <wsdl:message name="IFundsService_Recharge_OutputMessage">
    <wsdl:part name="parameters" element="tns:RechargeResponse" />
  </wsdl:message>
  <wsdl:message name="IFundsService_GetRechargeDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRechargeDetails" />
  </wsdl:message>
  <wsdl:message name="IFundsService_GetRechargeDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRechargeDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IFundsService_Withdraw_InputMessage">
    <wsdl:part name="parameters" element="tns:Withdraw" />
  </wsdl:message>
  <wsdl:message name="IFundsService_Withdraw_OutputMessage">
    <wsdl:part name="parameters" element="tns:WithdrawResponse" />
  </wsdl:message>
  <wsdl:message name="IFundsService_GetWithdrawDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWithdrawDetails" />
  </wsdl:message>
  <wsdl:message name="IFundsService_GetWithdrawDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWithdrawDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IFundsService">
    <wsdl:operation name="Recharge">
      <wsdl:input wsaw:Action="http://tempuri.org/IFundsService/Recharge" message="tns:IFundsService_Recharge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFundsService/RechargeResponse" message="tns:IFundsService_Recharge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRechargeDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IFundsService/GetRechargeDetails" message="tns:IFundsService_GetRechargeDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFundsService/GetRechargeDetailsResponse" message="tns:IFundsService_GetRechargeDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <wsdl:input wsaw:Action="http://tempuri.org/IFundsService/Withdraw" message="tns:IFundsService_Withdraw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFundsService/WithdrawResponse" message="tns:IFundsService_Withdraw_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWithdrawDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IFundsService/GetWithdrawDetails" message="tns:IFundsService_GetWithdrawDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFundsService/GetWithdrawDetailsResponse" message="tns:IFundsService_GetWithdrawDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFundsService" type="tns:IFundsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Recharge">
      <soap:operation soapAction="http://tempuri.org/IFundsService/Recharge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRechargeDetails">
      <soap:operation soapAction="http://tempuri.org/IFundsService/GetRechargeDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Withdraw">
      <soap:operation soapAction="http://tempuri.org/IFundsService/Withdraw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWithdrawDetails">
      <soap:operation soapAction="http://tempuri.org/IFundsService/GetWithdrawDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FundsService">
    <wsdl:port name="BasicHttpBinding_IFundsService" binding="tns:BasicHttpBinding_IFundsService">
      <soap:address location="http://localhost:55635/Api/FundsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>