IWorld.Client/Service References/FundsService/FundsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55635/Api/FundsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" />
  <xs:element name="Recharge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="sum" type="xs:double" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechargeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="RechargeResult" nillable="true" type="q1:RechargeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRechargeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRechargeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="GetRechargeDetailsResult" nillable="true" type="q2:PaginationListOfRechargeDetailsResultL_PYu6_SAe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Withdraw">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sum" type="xs:double" />
        <xs:element minOccurs="0" name="safeWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="WithdrawResult" nillable="true" type="q3:OperateResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWithdrawDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWithdrawDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IWorld.Contract.Client" minOccurs="0" name="GetWithdrawDetailsResult" nillable="true" type="q4:PaginationListOfWithdrawDetailsResultL_PYu6_SAe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>