IWorld.Admin.Framework/Service References/UserInfoService/UserInfoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55635/Api/Admin/UserInfoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IWorld.Model" />
  <xs:complexType name="PaginationListOfUserInfoResultp9CVq9mK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserInfoResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfUserInfoResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfUserInfoResultp9CVq9mK" nillable="true" type="tns:PaginationListOfUserInfoResultp9CVq9mK" />
  <xs:complexType name="OperateResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperateResult" nillable="true" type="tns:OperateResult" />
  <xs:complexType name="ArrayOfUserInfoResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInfoResult" nillable="true" type="tns:UserInfoResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserInfoResult" nillable="true" type="tns:ArrayOfUserInfoResult" />
  <xs:complexType name="UserInfoResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Bank" type="q1:Bank" />
      <xs:element minOccurs="0" name="BindingCard" type="xs:boolean" />
      <xs:element minOccurs="0" name="BindingEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="Card" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Consumption" type="xs:double" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Integral" type="xs:double" />
      <xs:element minOccurs="0" name="IsAgents" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastLoginIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastLoginTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MaxOfSubordinate" type="xs:int" />
      <xs:element minOccurs="0" name="Money" type="xs:double" />
      <xs:element minOccurs="0" name="MoneyBeFrozen" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NormalReturnPoints" type="xs:double" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IWorld.Model" minOccurs="0" name="Status" type="q2:UserStatus" />
      <xs:element minOccurs="0" name="Subordinate" type="xs:int" />
      <xs:element minOccurs="0" name="UncertainReturnPoints" type="xs:double" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfoResult" nillable="true" type="tns:UserInfoResult" />
  <xs:complexType name="PaginationListOfLandingRecordResultp9CVq9mK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="LandingRecordResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfLandingRecordResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfLandingRecordResultp9CVq9mK" nillable="true" type="tns:PaginationListOfLandingRecordResultp9CVq9mK" />
  <xs:complexType name="ArrayOfLandingRecordResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LandingRecordResult" nillable="true" type="tns:LandingRecordResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLandingRecordResult" nillable="true" type="tns:ArrayOfLandingRecordResult" />
  <xs:complexType name="LandingRecordResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LandingTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LandingRecordResult" nillable="true" type="tns:LandingRecordResult" />
  <xs:complexType name="AddUserImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsAgents" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxOfSubordinate" type="xs:int" />
      <xs:element minOccurs="0" name="NormalReturnPoints" type="xs:double" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UncertainReturnPoints" type="xs:double" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddUserImport" nillable="true" type="tns:AddUserImport" />
  <xs:complexType name="ResetPasswordResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResetPasswordResult" nillable="true" type="tns:ResetPasswordResult" />
  <xs:complexType name="ResetSafeWordResult">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="NewSafeWord" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResetSafeWordResult" nillable="true" type="tns:ResetSafeWordResult" />
  <xs:complexType name="PaginationListOfUserGroupResultp9CVq9mK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PaginationListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UserGroupResult" Namespace="http://schemas.datacontract.org/2004/07/IWorld.Contract.Admin" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperateResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ArrayOfUserGroupResult" />
          <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="Total" type="xs:int" />
          <xs:element minOccurs="0" name="TotalOfPage" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaginationListOfUserGroupResultp9CVq9mK" nillable="true" type="tns:PaginationListOfUserGroupResultp9CVq9mK" />
  <xs:complexType name="ArrayOfUserGroupResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserGroupResult" nillable="true" type="tns:UserGroupResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserGroupResult" nillable="true" type="tns:ArrayOfUserGroupResult" />
  <xs:complexType name="UserGroupResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorOfName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grade" type="xs:int" />
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="LimitOfConsumption" type="xs:double" />
      <xs:element minOccurs="0" name="MaxOfSubordinate" type="xs:int" />
      <xs:element minOccurs="0" name="MaximumRechargeAmount" type="xs:double" />
      <xs:element minOccurs="0" name="MaximumWithdrawalAmount" type="xs:double" />
      <xs:element minOccurs="0" name="MinimumRechargeAmount" type="xs:double" />
      <xs:element minOccurs="0" name="MinimumWithdrawalAmount" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpperOfConsumption" type="xs:double" />
      <xs:element minOccurs="0" name="Withdrawals" type="xs:int" />
      <xs:element minOccurs="0" name="WithdrawalsAtAnyTime" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserGroupResult" nillable="true" type="tns:UserGroupResult" />
  <xs:complexType name="AddUserGroupImport_Basic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Grade" type="xs:int" />
      <xs:element minOccurs="0" name="LimitOfConsumption" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpperOfConsumption" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddUserGroupImport_Basic" nillable="true" type="tns:AddUserGroupImport_Basic" />
  <xs:complexType name="AddUserGroupImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorOfName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grade" type="xs:int" />
      <xs:element minOccurs="0" name="LimitOfConsumption" type="xs:double" />
      <xs:element minOccurs="0" name="MaxOfSubordinate" type="xs:int" />
      <xs:element minOccurs="0" name="MaximumRechargeAmount" type="xs:double" />
      <xs:element minOccurs="0" name="MaximumWithdrawalAmount" type="xs:double" />
      <xs:element minOccurs="0" name="MinimumRechargeAmount" type="xs:double" />
      <xs:element minOccurs="0" name="MinimumWithdrawalAmount" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpperOfConsumption" type="xs:double" />
      <xs:element minOccurs="0" name="Withdrawals" type="xs:int" />
      <xs:element minOccurs="0" name="WithdrawalsAtAnyTime" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddUserGroupImport" nillable="true" type="tns:AddUserGroupImport" />
  <xs:complexType name="EditUserGroupImport_Basic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Grade" type="xs:int" />
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="LimitOfConsumption" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpperOfConsumption" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditUserGroupImport_Basic" nillable="true" type="tns:EditUserGroupImport_Basic" />
  <xs:complexType name="EditUserGroupImport">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorOfName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grade" type="xs:int" />
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="LimitOfConsumption" type="xs:double" />
      <xs:element minOccurs="0" name="MaxOfSubordinate" type="xs:int" />
      <xs:element minOccurs="0" name="MaximumRechargeAmount" type="xs:double" />
      <xs:element minOccurs="0" name="MaximumWithdrawalAmount" type="xs:double" />
      <xs:element minOccurs="0" name="MinimumRechargeAmount" type="xs:double" />
      <xs:element minOccurs="0" name="MinimumWithdrawalAmount" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpperOfConsumption" type="xs:double" />
      <xs:element minOccurs="0" name="Withdrawals" type="xs:int" />
      <xs:element minOccurs="0" name="WithdrawalsAtAnyTime" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EditUserGroupImport" nillable="true" type="tns:EditUserGroupImport" />
</xs:schema>